extends ../layout
block content
	include ../mixins/menu.jade
	include ../mixins/locationChooser.jade
	include ../mixins/forms/postForm.jade
	include ../mixins/forms/loginForm.jade
	include ../mixins/forms/searchForm.jade
	mixin menu('map')
	mixin locationChooser('map')


	div.container-fluid
		div.row-fluid
			div.span8
				div#mymap
				div#zoomnavigation
					div#zoomplus
					div#zoomminus
			div.span4
				div#newsfeedContainer
					div#boxOpener.row.opened Chercher & Filtrer
					span#newsfeedMenu
						div#typeContainer.row
							span.btn(title="Actu", type=1) 
								img(src="/images/markers/type1.png")
							span.btn(title="Discussion", type=4) 
								img(src="/images/markers/type4.png")
							span.btn(title="Agenda", type=2) 
								img(src="/images/markers/type2.png")
							span.btn(title="Infos Pratiques", type=3) 
								img(src="/images/markers/type3.png")
							span.btn(title="Mes alertes", type=5)
								img(src="/images/markers/type5.png")
							//span.btn.btn-link(title="testfeed", type=10)
							//	i.icon-fire
						div#heatModule.row
							div#dayPrinter Aujourd'hui	
							div#heatSelector
						div#searchBox.row
							div.input-append
								input#locationInput(type='hidden', name='locationInput', value='')
								input.span5.search-query#searchStr(type="text",placeholder="Quoi ?",autocomplete="off", )
								input.span5.search-query#searchPlaceStr(type="search",placeholder="Où ?",autocomplete="off", data-provide="typeahead",)
								button.btn#searchBtn(type="submit") Go
						
					span#newsNav				
						ul.nav.nav-tabs
							li.active(contentToLoad="newsfeedContent")
								a.newsNavItem#newsFeed(href="#") Le fil
							- if(session)	
								li(contentToLoad="newspostContent")
									a.newsNavItem#newsPost(href="#") Poster
									
					span#newsfeedContent.tabContent			
						ul#newsfeed
					span#newspostContent.tabContent
						mixin postForm()
					
	script(src='http://maps.google.com/maps/api/js?v=3.9&sensor=false&libraries=drawing')		
	script
	
	

		/*INIT*/
		var conf = !{conf};
		var user =!{JSON.stringify(user)};
		var logged = 0;
		var curPos = new Object();
		
		var geolocalized = 0;
		var infowindow = null;
		var bounds = new Array();
		var markers = [];
		var infoArray = [];
		var markerLocation = null;
		var yakcatArray = [];
		var placeArray = [];
		var hashtag = [];
		var hashtagTmp = [];
			
		var markerClustererOptions = {gridSize:30,maxZoom: 17,styles: [{height: 28,width: 28,url: "/images/markers/m1.png"},{height: 38,width: 38,url: "/images/markers/m2.png"},{height: 55,width:55,url: "/images/markers/m3.png"},{height: 85,width: 85,url: "/images/markers/m4.png"},{height: 85,width: 85,url: "/images/markers/m5.png"}]};
		var markerCluster = null;
		var pinkParksStyles = [{featureType: "Water",stylers: [{ hue: "#006eff" },{ saturation:1 },{ lightness: -13 }]},{featureType: "Road",stylers: [{ hue: "#ff0000" },{ saturation: -100 },{ lightness: 31 }]},{featureType: "Landscape",stylers: [{ hue: "#ff0008" },{saturation: -90 },{ lightness: 66 }]}];
		var pinkParksStyles =[{}];
		var dateFrom = 0;
		//var type = [1];
		var type = [!{type}];
		var skip = 0;
		var searchString = "!{str}".toString();
		if(searchString=='')
			searchString = null;
		
		var infoContent = '';
		var rule = new RegExp('#([^\\s]*)','g');
		var rule2 = new RegExp('[#]','g');
		var postFlag = 0;
		var listenerHandle = null;
		
		/*READY FUNCTIONS*/
		$(document).ready(function() {
		
			curPos = ($.isEmptyObject($.cookie("geoloc")))?{'x':user.location.lat,'y':user.location.lng,'z':14}:JSON.parse($.cookie("geoloc"));
			/*init*/
			if(!$.isEmptyObject(user)){
				logged = 1;
			}
			
			/*
			if(logged){
				$.each(user.favplace,function(key,val){
					$('ul#favplacelist').append("<li pointId='"+val._id+"' lat='"+val.location.lat+"' lng='"+val.location.lng+"' class='zoneLoc'><i class='icon-map-marker'></i><span> "+val.name+"</span><i class='icon-remove icon-pointer'  onclick='removefavPlace($(this));'></i></li>");
				});
			}else{
				$('ul#favplacelist').append("<li lat='48.851875' lng='2.356374' class='zoneLoc'><i class='icon-map-marker'></i><span> Paris, France</span></li>");
				$('ul#favplacelist').append("<li lat='43.610787' lng='3.876715' class='zoneLoc'><i class='icon-map-marker'></i><span> Montpellier, France</span></li>");
				$('ul#favplacelist').append("<li lat='50.583346' lng='4.900031' class='zoneLoc'><i class='icon-map-marker'></i><span> Eghézée, Belgique</span></li>");
			}*/
			
			
			/*map tools*/
			$('#zoomplus').click(function () {	  
				mapzoom = map.getZoom();
				mapzoom++;
				map.setZoom(mapzoom);		
			});

			$('#zoomminus').click(function () {
				mapzoom = map.getZoom();
				mapzoom--;
				map.setZoom(mapzoom);
			});

			/*search info and place*/
			
			$('#searchStr').val(searchString);
			// reset
			$('#searchStr').keyup(function(event){
				if($(this).val()==''){
					searchString = null;
					getAndPrintInfo();
				}
				if (event.which == 13) {
					$('#searchBtn').trigger('click');
				}
			});
			$('#searchPlaceStr').keyup(function(event){
				if($(this).val()==''){
					$('#locationInput').val('');
				}
				if (event.which == 13) {
					$('#searchBtn').trigger('click');
				}
			});
			
			
			
			// search button
			$('#searchBtn').click(function(){
				var str = encodeURIComponent($('#searchStr').val());
				var placeName = $('#searchPlaceStr').val();
				var location = $('#locationInput').val();				
				if(location != ''){
					var locationObj = JSON.parse(location);
					var latLng = new google.maps.LatLng(locationObj.lat,locationObj.lng);
					markerHL.setPosition(latLng);
					markerHL.setVisible(true);
					markerHL.setMap(map);
					markerHL.setOptions({icon:"/images/markers/target3.png"});
					setTimeout(function() {
						markerHL.setMap(null);
					}, 3000);
					map.panTo(latLng);
					//map.setCenter(latLng);
					
				}else{
					if(placeName != ''){
						
						/* our db is not ready for this ! => use google !
						$.ajax({
							url: "/api/search/place/"+placeName,				
							success: function( ajax ) {
								if(ajax.data.places.length > 0 && ajax.data.places[0] != "undefined"){
									var latLng = new google.maps.LatLng(ajax.data.places[0].location.lat,ajax.data.places[0].location.lng);
									map.panTo(latLng);
								}else{
									var salt = new Date().getTime();
									$('#searchStr').before("<div id='alert"+salt+"' class='control-label'><i class='icon-exclamation-sign'> </i>Adresse invalide</div>");
									setTimeout(function() {
										$("#alert"+salt).fadeOut();
									}, 3000);
								$('#searchPlaceStr').select();
								}
							}
						});*/
						var addressQuery = {"address": placeName ,"region":"fr","language":"fr"};
						var geocoder = new google.maps.Geocoder();
						geocoder.geocode( addressQuery, function(results, status) {						
						if (status == google.maps.GeocoderStatus.OK) {
							var latLng = new google.maps.LatLng(results[0].geometry.location.Ya,results[0].geometry.location.Za);
							markerHL.setPosition(latLng);
							markerHL.setVisible(true);
							markerHL.setMap(map);
							markerHL.setOptions({icon:"/images/markers/target3.png"});
							
							setTimeout(function() {
								markerHL.setMap(null);
							}, 3000);
							map.panTo(latLng);
						}else{
							var salt = new Date().getTime();
							$('#searchStr').before("<div id='alert"+salt+"' class='control-label'><i class='icon-exclamation-sign'> </i>Adresse invalide</div>");
							setTimeout(function() {
								$("#alert"+salt).fadeOut();
							}, 3000);
							$('#searchPlaceStr').select();
						} 
						});
					}
				}
				
				
				if(str != 'Quoi ?' && str != ''){
					searchString = str;
					
				}else
					searchString = null;
		
				getAndPrintInfo();
				$('#searchStr').focus();
			});
			
			
			// autocomplete Place
			$('#searchPlaceStr').typeahead({
				minLength : 3,							
				source: function (typeahead, query) {
					if(query.length >= 3){
						encodeURIComponent(query);
						$("#searchPlaceStr").addClass('searching');
						var addressQuery = {"address": query ,"region":"fr","language":"fr"};
						var geocoder = new google.maps.Geocoder();
						geocoder.geocode( addressQuery, function(results, status) {						
						if (status == google.maps.GeocoderStatus.OK) {
							typeahead.process(results);
							$("#searchPlaceStr").removeClass('searching');
						} 
						});
					}
				},
				property: "formatted_address",
				onselect: function(obj) { 
					$("#searchPlaceStr").removeClass('searching');
					var placeGmap = getPlaceFromGmapResult(obj);
					$('#locationInput').val(JSON.stringify(placeGmap.location));
				}
			});
			
			// autocomplete Info			
			$('#searchStr').typeahead({
					minLength : 3,
					source: function (typeahead, query) {
					encodeURIComponent(query);
						if(query.length >= 3){
							$.ajax({
									url: "/api/catsandtags",				
									success: function( ajax ) {
										typeahead.process(ajax.data.catsandtags);
									}
								})}
					},
					property: "title",
					onselect: function(obj) { 
						$("#searchPlaceStr").removeClass('searching');
						
					}
				});
			
			/*control opener*/
			$('#boxOpener').click(function(event){
				event.preventDefault();
				if($(this).hasClass('opened')){
					$(this).removeClass('opened').addClass('closed');
					$('#newsfeedMenu').animate({height:'0px',opacity:0},200,function(){
						drawNewsFeed();
					});	
				}else{
					$(this).removeClass('closed').addClass('opened');
					$('#newsfeedMenu').animate({height:'140px',opacity:1},200,function(){
						drawNewsFeed();
						
					});
				}
				
			});

			/*news nav*/
			$('#newsNav li').click(function(event){
				event.preventDefault();
				if(!$(this).hasClass('active')){
					$('#newsNav li').removeClass('active');	
					$(this).addClass('active');
					var contentToLoad = $(this).attr('contentToLoad');
					
					$('.tabContent').hide();
					$('#'+contentToLoad).fadeIn();	
					
					if(contentToLoad == "newspostContent"){
						// INIT MARKERLOCATION
						
						listenerHandle = listenerHandle = google.maps.event.addListener(map, 'click', function(event) {
							getformattedAddress(event.latLng);
							placeMarker(event.latLng,markerLocation);
							google.maps.event.addListener(markerLocation, 'dragend', function() {
								cleanMarkers();
								var position = markerLocation.getPosition();
								$('#latitude').val(position.lat());	
								$('#longitude').val(position.lng());	
								
								getformattedAddress(position);
								
							});		
						});
					}
					else{
						google.maps.event.removeListener(listenerHandle);
						markerLocation.setVisible(false);
					}
				}
					drawNewsFeed();
			});
				
			
			
			/*slider time selector*/
			$( "#heatSelector" ).slider({
				range: "min",
				min: -100,
				max: 100,
				value: 0,
				slide: function( event, ui ) {
					var x = ui.value;
					var y = 0;
					if(x==0){
						y= 0;
						yText = "Aujourd'hui";
					}else{
						if(x < 0)
							//y = Math.floor(Math.pow(x,2)/25); 
							y = Math.floor(x/2);
						else
							//y = (-1)*Math.floor(Math.pow(x,2)/25); 
							y = (-1)*Math.floor(x/2);
						//y = Math.floor(-7.222723628*Math.pow(10,-7)*Math.pow(x,5) + 2.123355095*Math.pow(10,-4)*Math.pow(x,4) - 2.178300623*Math.pow(10,-2)*Math.pow(x,3) + 0.906040198*Math.pow(x,2) - 16.47223075*x + 360.0000001);
					}
					
					var yText = "";
					
					var months = parseInt(y / 30);
					var days = y % 30;
					var dayText = "";
					var monthText = "";
					
					if(days == 0 && months == 0)
						dayText = "Aujourd'hui";
					else if(days == 0 && months > 0)
						dayText = "";
					else if(days == -1 && months == 0)
						dayText = "Demain";
					else if(days == 1 && months == 0)
						dayText = "Hier";
					else if(days == 1 || days == -1)
						dayText = "1 jour";
					else
						dayText = Math.abs(days)+" jours";
					if(months == 0)
						monthText = "";	
					else if(months == 1)
						monthText = "1 mois";	
					else
						monthText = Math.abs(months)+" mois";	
				

					if(monthText && dayText)
						yText = monthText+" et "+ dayText;
					else if(monthText && !dayText)
						yText = monthText
					else
						yText = dayText;
					
					if(y >= 2 && x < 0)
						yText = "Il y a "+yText;
					else if(y <= -2 && x > 0)
						yText = "Dans "+yText;
					$( "#dayPrinter" ).html(yText);
					dateFrom = y;
					
				},
				change:function(event, ui){
					getAndPrintInfo();
					
				}
			});
		
			/*init type selector*/
			$('#newsfeedMenu span.btn').removeClass('active');
			
			
			$.each(type,function(key,val){
				$("#newsfeedMenu span.btn[type=\""+val+"\"]").addClass('active');
			});

			$('#newsfeedMenu span.btn[type="5"]').removeClass('active');
			/*type selector*/
			$('#newsfeedMenu span.btn').click(function(){
				var curtype = $(this).attr('type');
				if(curtype == 5){
					$('#newsfeedMenu span.btn').removeClass('active');
					$(this).addClass('active');
					type = [5];
					
				}else{
					$('#newsfeedMenu span.btn[type="5"]').removeClass('active');
					if($(this).hasClass('active')){
						$(this).removeClass('active');
						type.cleanArrayByName(curtype);	
					}
					else{
						$(this).addClass('active');
						type.push(curtype);
					}
				}
				getAndPrintInfo();
			});
			
			// init news feed
			drawNewsFeed();

			$('#newsfeedContent').mCustomScrollbar({mouseWheel:true,callbacks:{onTotalScroll:printArrayFeedItem},scrollButtons:{enable:true,scrollType:"continuous",},advanced:{autoExpandHorizontalScroll:true,updateOnContentResize: true,updateOnBrowserResize:true}});
			$('#newspostContent').mCustomScrollbar({mouseWheel:true,scrollButtons:{enable:true,scrollType:"continuous",},advanced:{autoExpandHorizontalScroll:true,updateOnContentResize: true,updateOnBrowserResize:true}});
			$(window).resize(function(){
				drawNewsFeed();
				bounds = getMyBounds();
			});
			
			$('#newsfeed').delegate(".mapHighlighter",'click', function () {
				unhighlightInfo($(this),highlightInfo);
			});

			/*throw the silent updater*/
			setInterval(function() {
				silentMarkerAdder();
			}, 10000);
			
			/*cookies for navigation*/
			google.maps.event.addDomListener(window, 'load', initialize(curPos.x,curPos.y,curPos.z));
			/*
			if(!$.isEmptyObject($.cookie("geoloc"))){
				curPos = JSON.parse($.cookie("geoloc"));
				google.maps.event.addDomListener(window, 'load', initialize(curPos.x,curPos.y,curPos.z));
			}else{
				if(navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(getHTML5Pos,getErrHTML5Pos);
				}else {
					x = 48.851875;
					y = 2.356374;
					z = 13;
					curPos = {'x':x,'y':y,'z':z};
					google.maps.event.addDomListener(window, 'load', initialize(curPos.x,curPos.y,curPos.z));
				}
			}*/
			
			
			/*POST EFFECTS*/
			// hashtag creation from title field
				$(".hashtagMaker").keyup(function(event) {
					hashtagTmp = [];
					var inputStrArray = ($('#content').val()+' '+$('#title').val()).split(' ');
					for(i = 0; i< inputStrArray.length;i++){
						if(inputStrArray[i].match(rule)){
							hashtagTmp.push(inputStrArray[i]);
							$('#freetag').val(hashtagTmp.toString().replace(rule2,''));
						}
					}
				});
				
				
				
				$('#picture').live('change', function () {

					if ( window.FileReader ) {
						var fileList = this.files;
						var file = fileList[0];
						var r = new FileReader();
						r.onload = function () {
							var binimage = r.result;
							binimage1 = binimage.replace('data:'+file.type+';base64,', '');
							var imag = "<img class='img-rounded' " + "src='" + 
							"data:"+file.type+";base64," + binimage1 + "' style='width:100px'/>";
							$("#picturePreview").html(imag);
						};
						r.readAsDataURL(file);
					
					}
					
					//r.readAsBinaryString(file);

					

				});

				
				
				markerLocation = new google.maps.Marker({
					visible:false,
					map:map,
					draggable:true,
					icon:'/images/beachflag.png',
					//position:center
				});
				
				$('#yakcat').typeahead({
					minLength : 3,
					source: function (typeahead, query) {
						$.ajax({
								url: "/api/cats",				
								success: function( ajax ) {
									typeahead.process(ajax.data.cats);
								}
							})},
					property: "title",
					onselect: function(obj) { 
						$("label[for='category']").after("<div class='pillItem'><i class='icon-remove icon-pointer'  onclick='yakcatArray.cleanArray(\""+obj._id+"\");$(\"#yakcatInput\").val(JSON.stringify(yakcatArray));$(this).parent().remove();'></i> "+obj.title+"</div>");
						$('#yakcat').val('').focus();
						yakcatArray.push(obj);
						$("#yakcatInput").val(JSON.stringify(yakcatArray));
					}
				});
				
				/*
				$('#place').typeahead({
					minLength : 3,							
					source: function (typeahead, query) {
						$.ajax({
								url: "/api/places",		
								success: function( ajax ) {
									typeahead.process(ajax.data.places);
								}
							})},
					property: "title",
					onselect: function(obj) { 
						$('#btn-place-adder').parent().before("<div><i class='icon-remove icon-pointer'  onclick='placeArray.cleanArray(\""+obj._id+"\");$(\"#placeInput\").val(JSON.stringify(placeArray));$(this).parent().remove();'></i> "+obj.title+"</div>");
						$('#place').val('').focus();
						placeArray.push(obj);
						$("#placeInput").val(JSON.stringify(placeArray));
					}
				});*/
					// autocomplete Place
				$('#place').typeahead({
					minLength : 3,							
					source: function (typeahead, query) {
						if(query.length >= 3){
							encodeURIComponent(query);
							$("#place").addClass('searching');
							var addressQuery = {"address": query ,"region":"fr","language":"fr"};
							var geocoder = new google.maps.Geocoder();
							geocoder.geocode( addressQuery, function(results, status) {						
							if (status == google.maps.GeocoderStatus.OK) {
								typeahead.process(results);
								$("#place").removeClass('searching');
							} 
							});
						}
					},
					property: "formatted_address",
					onselect: function(obj) { 
						var placeGmap = getPlaceFromGmapResult(obj);
						$('#btn-place-adder').parent().before("<div class='pillItem'><i class='icon-remove icon-pointer'  onclick='placeArray.cleanArrayByLocation(\""+placeGmap.location.lat+","+placeGmap.location.lng+"\");$(\"#placeInput\").val(JSON.stringify(placeArray));$(this).parent().remove();'></i> "+placeGmap.title+"</div>");
						$('#place').val('').focus();
						placeArray.push(placeGmap);
						$("#placeInput").val(JSON.stringify(placeArray));
					}
				});

				
				$('#btn-place-adder').click(function(){
					console.log('DELETE THIS ?');
					var addressString = $('#place').val();
					if(addressString != "Rechercher..." && addressString != "" && addressString.length > 1){
						var addressQuery = {"address": addressString,"latLng":map.getCenter(),"bounds":map.getBounds()};
						var geocoder = new google.maps.Geocoder();
						geocoder.geocode( addressQuery, function(results, status) {
							if (status == google.maps.GeocoderStatus.OK) {
								//map.setCenter(results[0].geometry.location);
								map.panTo(results[0].geometry.location);
								markerLocation.setVisible(true);
								markerLocation.setPosition(results[0].geometry.location);
								placeMarker(results[0].geometry.location,markerLocation);
								var placeGmap = getPlaceFromGmapResult(results[0]);
								placeArray.push(placeGmap);
								$("#placeInput").val(JSON.stringify(placeArray));
								$('#btn-place-adder').parent().before("<div class='pillItem'><i class='icon-remove icon-pointer' onclick='placeArray.cleanArrayByLocation("+results[0].geometry.location.Ya+","+results[0].geometry.location.Za+");$(\"#placeInput\").val(JSON.stringify(placeArray));$(this).parent().remove();'></i> "+results[0].formatted_address+"</div>");
								
							} else {
								var salt = new Date().getTime();
								$('#btn-place-adder').parent().before("<div id='alert"+salt+"' class='control-label'><i class='icon-exclamation-sign'> </i>Adresse invalide ("+status+")</div>");
								setTimeout(function() {
									$("#alert"+salt).fadeOut();
								}, 3000);
								$('#place').select();
							}
						});
					}
					
					
				});
			
			
			/*linkify*/
			$("body").delegate('.tagHashLink','click',function(event){
				//event.preventDefault();
				searchString = $(this).html();
				
				
				$('#searchStr').val(searchString);
				//searchString = encodeURIComponent(searchString);
				
				getAndPrintInfo();
			});
			$("body").delegate('.userHashLink','click',function(event){
				event.preventDefault();
				searchString = $(this).html();
				
				$('#searchStr').val(searchString);
				//searchString = encodeURIComponent(searchString);
				
				getAndPrintInfo();
			});
			
				

		});/*END READY*/

		/* getMyBounds
		* calculate bounds according to screen size and feed position.
		*/
		function getMyBounds(){
			thebounds = map.getBounds();
			
			var width = $(window).width();
			var height = $(window).height();
			var pos = $("#newsfeedContainer").position();
			if(width>768){
				var borderOffset = 0.01; // to avoid printing news at the hedge of the screen	
				var offsetPercent = pos.left/width;
				var offsetDegree = (parseFloat(thebounds.ea.f) - parseFloat(thebounds.ea.b))*offsetPercent;
				var myBounds = {
					ca:{
						f: thebounds.ca.f-1.5*borderOffset,
						b: thebounds.ca.b+borderOffset/2,	
					},
					ea:{
						f: thebounds.ea.b+offsetDegree-borderOffset,
						b: thebounds.ea.b+borderOffset,
					}
				};
			}else{
				var borderOffset = 0.0001; // to avoid printing news at the hedge of the screen	
				var offsetPercent = pos.top/height;
				var offsetDegree = (parseFloat(thebounds.ca.f) - parseFloat(thebounds.ca.b))*offsetPercent;
				var myBounds = {
					ca:{
						f: thebounds.ca.f-borderOffset,
						b: thebounds.ca.f-offsetDegree+borderOffset,	
					},
					ea:{
						f: thebounds.ea.f-borderOffset,
						b: thebounds.ea.b+borderOffset,
					}
				};
			}
			
			
			
			return myBounds;
		}

		function drawNewsFeed(){	
			var newsfeedContainerHeight = window.innerHeight-$('#newsfeedContainer').offset().top-50+'px';
			$('#newsfeedContainer').css('height',newsfeedContainerHeight);
			var newsfeedContentHeight = window.innerHeight-$('#newsfeedContent').offset().top-50+'px';
			$('#newsfeedContent').css('height',newsfeedContentHeight);
			$('#newsfeedContent').mCustomScrollbar("update");

			var newspostContentHeight = window.innerHeight-$('#newspostContent').offset().top-50+'px';
			$('#newspostContent').css('height',newspostContentHeight);
			$('#newspostContent').mCustomScrollbar("update");
		}
		
		function unhighlightInfo(obj,callback){
			markerHL.setAnimation(null);
			markerHL.setVisible(false);
			
			if (callback && typeof(callback) === "function") {  
				callback(obj);  
			} 
		}
		
		function highlightInfo(obj){
			var id = obj.attr('infoId');
			
			$.each(infoArray,function(key,val){
				
				if(val._id == id){
					// hide all markers
					//hideMarkers(7000);
					
					// clean if a marker is already highlighted
						
					var latLng = new google.maps.LatLng(val.location['lat'],val.location['lng']);
					markerHL.setPosition(latLng);
					markerHL.setVisible(true);
					markerHL.setMap(map);
					markerHL.setAnimation(google.maps.Animation.BOUNCE);
					markerHL.setOptions({icon:"/images/markers/type"+val.yakType+".png"});
					
					//$("ul#newsfeed li.mapHighlighterDetails").fadeOut().html('');
					//$("ul#newsfeed li.mapHighlighterDetails[infoid="+id+"]").fadeIn();
				
					// center map
					//map.setCenter(latLng);
					//map.panTo(latLng);
					
					// clear marker ( and infowindow )
					setTimeout(function() {
						
						//markerHL.setAnimation(null);
						//markerHL.setVisible(false);
						markerHL.setMap(null);
						
					}, 2000);
				}
			});
		}

		function initialize(x,y,z){
			// set user cookies
			$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
			var center = new google.maps.LatLng(x,y);
			infowindow = new google.maps.InfoWindow({content: ".",maxWidth : 300});
			map = new google.maps.Map(document.getElementById('mymap'), {
				zoom: z,
				center: center,
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				disableDefaultUI: true,
			});
			
			map.setOptions({styles: pinkParksStyles});
			//var markerClustererOptions = {gridSize:30,maxZoom: 17,styles: [{height: 28,width: 28,url: "/images/markers/m1.png"},{height: 38,width: 38,url: "/images/markers/m2.png"},{height: 55,width:55,url: "/images/markers/m3.png"},{height: 85,width: 85,url: "/images/markers/m4.png"},{height: 85,width: 85,url: "/images/markers/m5.png"}]};
			//markerCluster = new MarkerClusterer(map, markers,markerClustererOptions);
			
			markerHL = new google.maps.Marker({position: center,map:map,visible:false});
			
			google.maps.event.addListener(map, 'idle', function() {
				cleanMarkers();
				bounds = getMyBounds();
				center = this.getCenter();
				curPos.x = center.lat();
				curPos.y = center.lng();
				curPos.z = this.getZoom();
				$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
				//markerCluster.clearMarkers();
				getAndPrintInfo();
			});
			
			
		}
		
		function cleanMarkers(){
		// clean existing markers
			$.each(markers,function(key,val){
					val.setMap(null);
			});
			
			markers = [];
			//markerCluster.clearMarkers();
		}
		
		function hideMarkers(ms){
		// hide existing markers for ms milisec
			//markerCluster.clearMarkers();
			$.each(markers,function(key,val){
					val.setVisible(false);
			});
			setInterval(function() {
				$.each(markers,function(key,val){
					val.setVisible(true);
				});
				//markerCluster.addMarkers(markers);
			}, ms);
			
		}
		
		function silentMarkerAdder(){
		
			searchString = encodeURIComponent(searchString);		
			//bounds = map.getBounds();
			bounds = getMyBounds();
			var apiUrl = '';
			if(type.toString() == 5)
				apiUrl = '/api/geoalerts/'+bounds.ca.b+'/'+bounds.ea.b+'/'+bounds.ca.f+'/'+bounds.ea.f+'/'+dateFrom+'/'+searchString;
			else	
				apiUrl = '/api/geoinfos/'+bounds.ca.b+'/'+bounds.ea.b+'/'+bounds.ca.f+'/'+bounds.ea.f+'/'+dateFrom+'/'+type.toString()+'/'+searchString;
			
			$.getJSON(apiUrl,function(ajax) {	
				$.each(ajax.data.info, function(key,val) {
					
					

					var flagExists = 0;
					
					$.each(infoArray,function(key2,val2){
						if(val2._id == val._id){
							flagExists = 1;
						}
					});
					
					if(flagExists == 0){

						printMapItem(val,key,1);
						printFeedItem(val,1,0);	
					
						
						infoArray.push(val);	
						
						
						
					}
				});
			});
		}
		
		function getAndPrintInfo(){
			infoArray = [];
			bounds = getMyBounds();
			drawNewsFeed();
			
			cleanMarkers();
			searchString = encodeURIComponent(searchString);
			
			var apiUrl = '';
			if(type.toString() == 5)
				apiUrl = '/api/geoalerts/'+bounds.ca.b+'/'+bounds.ea.b+'/'+bounds.ca.f+'/'+bounds.ea.f+'/'+dateFrom+'/'+searchString+'/500';
			else	
				apiUrl = '/api/geoinfos/'+bounds.ca.b+'/'+bounds.ea.b+'/'+bounds.ca.f+'/'+bounds.ea.f+'/'+dateFrom+'/'+type.toString()+'/'+searchString+'/500';
			
			$.getJSON(apiUrl,function(ajax) {	
			
				// empty the news feed
				$('#newsfeed').html('');
				if(ajax.data.info.length == 0){
					//$('#newsfeed').html('Aucune info !');
					printEmptyFeedItem();
				}
					
				else{
					
					$.each(ajax.data.info, function(key,val) {
						
						infoArray.push(val);					
						printMapItem(val,key,0);
						if(key<10)
							printFeedItem(val,0,0);	
					});
				printLoadingFeedItem();	
				//markerCluster.addMarkers(markers);
				}
				
			});
		}

		function printMapItem(item,key,bounce){
			var latLng = new google.maps.LatLng(item.location['lat'],item.location['lng']);
			var marker = new google.maps.Marker({position: latLng,icon:"/images/markers/type"+item.yakType+".png"});
			markers.push(marker);
			marker.setMap(map);	
			google.maps.event.addListener(marker, 'click', function() {
				//cleanMarkers();
				$("#newsfeed li").removeClass('highlighted');
				$("#newsfeed li[infoId=\""+item._id+"\"]").addClass('highlighted');
				if(typeof($(".mapHighlighter[infoId=\""+item._id+"\"]").html()) != 'undefined')
					$('#newsfeedContent').mCustomScrollbar("scrollTo",".mapHighlighter[infoId=\""+item._id+"\"]");
				else{
					printFeedItem(infoArray[key],1,1);
				}
			});	

			if(bounce == 1){
				marker.setAnimation(google.maps.Animation.BOUNCE);
				setTimeout(function() {
					marker.setAnimation(null);
					//markerCluster.addMarker(marker);
				}, 5000);
			}
		}

		function printFeedItem(item,top,scrollTo){
			
			if(item.yakCatName.length > 0){
				var yakCatNameArray = item.yakCatName.map(function(item){
					if(item.substr(0,1)!="#")
						item = "#"+item;
					return item.linkify();
				});	
				yakCatNameArray = yakCatNameArray.slice(0,3);
			}else
				var yakCatNameArray = new Array();
		
			if(typeof(item.freeTag[0]) != 'undefined' && item.freeTag[0].length > 0){
				var tagNameArray = item.freeTag.map(function(item){
					if(item.substr(0,1)!="#")
						item = "#"+item;
					return item.linkify();
				});
				tagNameArray = tagNameArray.slice(0,3);
			}else
				var tagNameArray = new Array();
				
			var dateTmp = new Date(item.pubDate);
			var pubDate = dateTmp.getDate()+'/'+(dateTmp.getMonth()+1)+'/'+dateTmp.getFullYear();
			dateTmp = new Date(item.dateEndPrint);
			var dateTmp2 = new Date(item.dateEndPrint);
			var dateEndPrint = dateTmp2.getDate()+'/'+(dateTmp2.getMonth()+1)+'/'+dateTmp2.getFullYear();

			infoContent = "<div class=\'infowindow mapHighlighter\' infoId='"+item._id+"'>";					
			
			if(!(typeof item.thumb === 'undefined') && item.thumb != '' && item.thumb != null)
				infoContent += "<img src=\'"+item.thumb+"\' />";

			infoContent += "<div class=\'title\'> <img class='yakTypeImg' src=\'/images/markers/type"+item.yakType+".png\' />";
			

			if(item.yakType == 2){
				if(typeof(item.eventDate) != 'undefined' && typeof(item.eventDate[0]) != 'undefined' ){
					var dateTmpFrom = new Date(item.eventDate[0].dateTimeFrom);
					//console.log('TEST'+item.eventDate[0].dateTimeFrom);
					// TODO this does not work on SAFARI
					var dateTmpEnd = new Date(item.eventDate[item.eventDate.length-1].dateTimeFrom);
					var m = dateTmpFrom.getMinutes();
					if (m<10) {m = "0" + m}

					if(item.eventDate.length == 1)	
						var thedate = 'Le '+dateTmpFrom.getDate()+'/'+(dateTmpFrom.getMonth()+1)+'/'+dateTmpFrom.getFullYear()+' à '+dateTmpFrom.getHours()+':'+m;
					else
						var thedate = 'Du '+dateTmpFrom.getDate()+'/'+(dateTmpFrom.getMonth()+1)+'/'+dateTmpFrom.getFullYear()+' au '+dateTmpEnd.getDate()+'/'+(dateTmpEnd.getMonth()+1)+'/'+dateTmpEnd.getFullYear();
				}else{
					var dateTmp = new Date(item.pubDate);
					var thedate = dateTmp.getDate()+'/'+(dateTmp.getMonth()+1)+'/'+dateTmp.getFullYear();
				}
			}else{
					var dateTmp = new Date(item.pubDate);
					var thedate = dateTmp.getDate()+'/'+(dateTmp.getMonth()+1)+'/'+dateTmp.getFullYear();
			}
				
			
			infoContent += "<span class=\'date\'>"+thedate+"</span>";
			
			infoContent += item.title.linkify()+"</div>";

			infoContent += "<div class=\'tags\'>";					
				
			if(item.yakCatName.length > 0)
				infoContent += yakCatNameArray.join(', ');

			if(tagNameArray.length > 0){
				if(item.yakCatName.length > 0)
					infoContent += ', ';
				infoContent += tagNameArray.join(', ');
			}
			infoContent += "</div>";

			infoContent += "<div class=\'links\'>";					
				if(item.origin && item.origin !=  'undefined'){
					if(item.origin.substring(0,1) == '@')
						infoContent += "<div class=\'\'>Posté par <a href='/news/map/search/"+encodeURIComponent(item.origin)+"'>"+item.origin+"</a></div>";
					else
						infoContent += "<div class=\'\'>Posté par <a target='_blank' href='"+item.outGoingLink+"'>"+item.origin+"</a></div>";
				}
			if(typeof(item.address) != 'undefined' && item.address != 'null' && item.address != '')
					infoContent += "<div class=\'infodetail\'>"+item.address+"</div>";
					if(user.login == 'renaud.bessieres') /// this is debug
						infoContent += "<div class=\'infodetail\'>"+pubDate+" >> "+dateEndPrint+"</div>";
			infoContent += "</div>";	
			//infoContent += "<div class=\'content\'>"+item.content.substring(0,250).linkify()+"...</div>";
			
			infoContent += "</div>";
			/*PRINT ON THE FEED*/
			//$('#newsfeed').append('<li class=\'mapHighlighter\' infoId=\''+item._id+'\'><i class=\'icon-eye-open\' ></i> '+item.title+'</li>')
			if(top==1)
				$('#newsfeed').prepend('<li class=\'mapHighlighterDetails\' infoId=\''+item._id+'\' >'+infoContent+'</li>');
			else	
				$('#newsfeed').append('<li class=\'mapHighlighterDetails\' infoId=\''+item._id+'\' >'+infoContent+'</li>');
			
			

			if (scrollTo==1) {  
				$('#newsfeedContent').mCustomScrollbar("update");
				$('#newsfeedContent').mCustomScrollbar("scrollTo","ul#newsfeed");

			}  
		}

		function printLoadingFeedItem(){
			$('.loadingfeeditem').hide();
			if(skip < infoArray.length - 10){
				infoContent = "<div class=\'infowindow loadingfeeditem\'></div>";					
				$('#newsfeed').append('<li class=\'mapHighlighterDetails\'>'+infoContent+'</li>');
			}
			
		}

		function printEmptyFeedItem(){
			$('.emptyfeeditem').hide();
			infoContent = "<div class=\'infowindow emptyfeeditem\'>Aucune info !</div>";					
			$('#newsfeed').append('<li class=\'mapHighlighterDetails\'>'+infoContent+'</li>');
		}

		function printArrayFeedItem(){
			skip = skip + 10;
			var itemArray = infoArray.slice(skip,skip+10);
			$.each(itemArray,function(key,val){
				printFeedItem(val,0,0);
			});
			printLoadingFeedItem();
			$('#newsfeedContent').mCustomScrollbar("update");
		}