extends ../layout
block content
	include ../mixins/menu.jade
	include ../mixins/locationChooser.jade
	include ../mixins/forms/postForm.jade
	include ../mixins/forms/loginForm.jade
	include ../mixins/forms/searchForm.jade
	mixin menu('map')
	mixin locationChooser('map')


	div.container-fluid
		div.row-fluid
			div.span8
				div#mymap
				div#zoomnavigation
					div#zoomplus
					div#zoomminus
			div.span4
				div#newsfeedContainer
					span#newsNav				
						ul.nav.nav-tabs
							li.active(contentToLoad="newsfeedContent", style="width: 70%")
								a.newsNavItem#newsFeed(href="#")
									img(src="/images/new/lefil.png")
							- if(session)	
								li(contentToLoad="newspostContent", style="width: 30%; background: #c81119")
									a.newsNavItem#newsPost(href="#") 
										img(src="/images/new/poster.png")
									
					span#newsfeedContent.tabContent			
						ul#newsfeed
					span#newspostContent.tabContent
						mixin postForm()
					
	//script(src='http://maps.google.com/maps/api/js?v=3.9&sensor=false&libraries=drawing')		
	link(rel='stylesheet', href='/javascripts/lib/jquery/css/share.css')
	script(src="/javascripts/lib/jquery/js/timeago.js")	
	script(src="/javascripts/lib/jquery/js/share.js")	
	script(src="/javascripts/lib/jquery/js/jquery.livequery.js")
	script(src="/javascripts/json2.js")	
	script(src="/WebsiteTour/js/ChunkFive_400.font.js")
	script(src="/WebsiteTour/js/cufon-yui.js")
	script(src="/WebsiteTour/js/jquery.easing.1.3.js")
	//
		script(src="/WebsiteTour/js/mywebtour.js")
		link(rel='stylesheet', href='/WebsiteTour/css/jquerytour.css')

	


	script
	
	

		/*INIT*/
		var conf = !{conf};
		var mainConf = !{mainConf};	
		
		
		var geolocalized = 0;
		var infowindow = null;
		var bounds = new Array();
		var markers = [];
		var infoArray = [];
		var markerLocation = null;
		var yakcatArray = [];
		var placeArray = [];
		var hashtag = [];
		var hashtagTmp = [];
		var mediumImage;
		var thumbImage;
			
		var markerClustererOptions = {gridSize:30,maxZoom: 17,styles: [{height: 28,width: 28,url: "/images/markers/m1.png"},{height: 38,width: 38,url: "/images/markers/m2.png"},{height: 55,width:55,url: "/images/markers/m3.png"},{height: 85,width: 85,url: "/images/markers/m4.png"},{height: 85,width: 85,url: "/images/markers/m5.png"}]};
		var markerCluster = null;
		var pinkParksStyles = [{featureType: "Water",stylers: [{ hue: "#006eff" },{ saturation:1 },{ lightness: -13 }]},{featureType: "Road",stylers: [{ hue: "#ff0000" },{ saturation: -100 },{ lightness: 31 }]},{featureType: "Landscape",stylers: [{ hue: "#ff0008" },{saturation: -90 },{ lightness: 66 }]}];
		var pinkParksStyles =[{}];
		
		var skip = 0;
		var zoom = 1;
		var infoContent = '';
		var rule = new RegExp('#([^\\s]*)','g');
		var rule2 = new RegExp('[#]','g');
		var postFlag = 0;
		var listenerHandle = null;
		
		var map = new google.maps.Map(document.getElementById('mymap'), {
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				disableDefaultUI: true,
				scrollwheel: true,
				zoom_changed: function(){
					setLocalnessSliderTextMinified(map.getZoom());
				},
				maxZoom: 16,
				minZoom: 11,
				disableDoubleClickZoom: true,
			});

		setInterval(function() {
				silentUpdater();			
			}, 10000);

		/*READY FUNCTIONS*/
		$(document).ready(function() {
			console.log(document.cookie);
			$('#searchBtn').click(function(){
					$.cookie("searchString",searchString,{ expires: 10000, path : '/' });

					var str = encodeURIComponent($('#searchStr').val());
					var placeName = $('#searchPlaceStr').val();
					var location = JSON.stringify({lat:curPos.x,lng:curPos.y});				
					if(location != ''){
						changeLocation(location);
					}else{
						if(placeName != ''){
							
							/* our db is not ready for this ! => use google !
							$.ajax({
								url: "/api/search/place/"+placeName,				
								success: function( ajax ) {
									if(ajax.data.places.length > 0 && ajax.data.places[0] != "undefined"){
										var latLng = new google.maps.LatLng(ajax.data.places[0].location.lat,ajax.data.places[0].location.lng);
										map.panTo(latLng);
									}else{
										var salt = new Date().getTime();
										$('#searchStr').before("<div id='alert"+salt+"' class='control-label'><i class='icon-exclamation-sign'> </i>Adresse invalide</div>");
										setTimeout(function() {
											$("#alert"+salt).fadeOut();
										}, 3000);
									$('#searchPlaceStr').select();
									}
								}
							});*/
							var addressQuery = {"address": placeName ,"region":"fr","language":"fr"};
							var geocoder = new google.maps.Geocoder();
							geocoder.geocode( addressQuery, function(results, status) {						
							if (status == google.maps.GeocoderStatus.OK) {
								/*var latLng = new google.maps.LatLng(results[0].geometry.location.Ya,results[0].geometry.location.Za);
								markerHL.setPosition(latLng);
								markerHL.setVisible(true);
								markerHL.setMap(map);
								markerHL.setOptions({icon:"/images/markers/target3.png"});
								
								setTimeout(function() {
									markerHL.setMap(null);
								}, 3000);
								map.panTo(latLng);*/
								//console.log(results);
								var placeGmap = getPlaceFromGmapResult((results[0]));
								//changeLocation(JSON.stringify(placeGmap));

							}else{
								var salt = new Date().getTime();
								$('#searchStr').before("<div id='alert"+salt+"' class='control-label'><i class='icon-exclamation-sign'> </i>Adresse invalide</div>");
								setTimeout(function() {
									$("#alert"+salt).fadeOut();
								}, 3000);
								
							} 
							});
						}
					}
					
					
					if(str != 'Quoi ?' && str != ''){
						searchString = str;
					}else
					{
						searchString = null;
					}
					
					getAndPrintInfo();
				});


			zoom = rangeFromZ();
			
			$('#arroundme').click(function(){

				if(user.location){
					var latLng = new google.maps.LatLng(user.location['lat'],user.location['lng']);
					curPos.name = user.formatted_address;
					curPos.x =  user.location.lat;
					curPos.y =  user.location.lng;
					curPos.z = user.addressZoom;
					$("#searchPlaceStr").val(curPos.name);
					setLocalnessSliderText(curPos.z);
					$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
					changeRange();
					moveMap();
					//map.setCenter(latLng);
				}else{
					window.location = '/settings/profile';
				}
			});


			/*map tools*/
			$('#zoomplus').click(function () {	
				
				if(curPos.z == 120)
					return
				zoom = map.getZoom();
				zoom++;
				map.setZoom(zoom);	
				changeZoom();
				if(curPos.z == 90 || curPos.z == 110)
					$('#zoomplus').click();

			});

			$('#zoomminus').click(function () {
				if(curPos.z == 70)
					return
				zoom = map.getZoom();
				zoom--;
				map.setZoom(zoom);
				changeZoom();
				if(curPos.z == 90 || curPos.z == 110)
					$('#zoomminus').click();
				
			});

			
			/*control opener*/
			$('#boxOpener').click(function(event){
				event.preventDefault();
				if($(this).hasClass('opened')){
					$(this).removeClass('opened').addClass('closed');
					$('#newsfeedMenu').animate({height:'0px',opacity:0},200,function(){drawNewsFeed();});	
				}else{
					$(this).removeClass('closed').addClass('opened');
					$('#newsfeedMenu').animate({height:'140px',opacity:1},200,function(){drawNewsFeed();});
				}
			});

			/*news nav*/
			$('#newsNav li').click(function(event){
				event.preventDefault();
				
				if(!$(this).hasClass('active')){
					$('#newsNav li').removeClass('active');	
					$(this).addClass('active');
					var contentToLoad = $(this).attr('contentToLoad');
					
					$('.tabContent').hide();
					$('#'+contentToLoad).fadeIn();	
					
					if(contentToLoad == "newspostContent"){
						// INIT MARKERLOCATION
						
						listenerHandle = google.maps.event.addListener(map, 'click', function(event) {
							getformattedAddress(event.latLng);
							placeMarker(event.latLng,markerLocation);
							google.maps.event.addListener(markerLocation, 'dragend', function() {
								cleanMarkers();
								var position = markerLocation.getPosition();
								$('#latitude').val(position.lat());	
								$('#longitude').val(position.lng());	
								
								getformattedAddress(position);
								
							});		
						});
					}
					else{
						google.maps.event.removeListener(listenerHandle);
						markerLocation.setVisible(false);
					}
				}
					drawNewsFeed();
			});
				
			
			
			
			
			// init news feed
			drawNewsFeed();

			$('#newsfeedContent').mCustomScrollbar({mouseWheel:true,callbacks:{onTotalScroll:printArrayFeedItem},scrollButtons:{enable:true,scrollType:"continuous",},advanced:{autoExpandHorizontalScroll:true,updateOnContentResize: true,updateOnBrowserResize:true}});
			$('#newspostContent').mCustomScrollbar({mouseWheel:true,scrollButtons:{enable:true,scrollType:"continuous",},advanced:{autoExpandHorizontalScroll:true,updateOnContentResize: true,updateOnBrowserResize:true}});
			$(window).resize(function(){
				drawNewsFeed();
				bounds = getMyBounds();
				manageSearchBox();
			});
			
			$('#newsfeed').delegate(".mapHighlighter",'click', function (e) {

				//console.log(e.target);
				if($(this).find(".myitem").length == 0)
				{
					getItemDetails(this);
				}
				else if(!($.contains(this, e.target)) || $(this).find(".myitem").css("display") == "none")
				{
					getItemDetails(this);
				}
				unhighlightInfo($(this),highlightInfo);
			});

			
			
			/*cookies for navigation*/
			google.maps.event.addDomListener(window, 'load', initialize(curPos.x,curPos.y,curPos.z));
			/*
			if(!$.isEmptyObject($.cookie("geoloc"))){
				curPos = JSON.parse($.cookie("geoloc"));
				google.maps.event.addDomListener(window, 'load', initialize(curPos.x,curPos.y,curPos.z));
			}else{
				if(navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(getHTML5Pos,getErrHTML5Pos);
				}else {
					x = 48.851875;
					y = 2.356374;
					z = 13;
					curPos = {'x':x,'y':y,'z':z};
					google.maps.event.addDomListener(window, 'load', initialize(curPos.x,curPos.y,curPos.z));
				}
			}*/
			
			
			/*POST EFFECTS*/
			// hashtag creation from title field
				$(".hashtagMaker").keyup(function(event) {
					hashtagTmp = [];
					var inputStrArray = ($('#content').val()+' '+$('#title').val()).split(' ');
					for(i = 0; i< inputStrArray.length;i++){
						if(inputStrArray[i].match(rule)){
							hashtagTmp.push(inputStrArray[i]);
							$('#freetag').val(hashtagTmp.toString().replace(rule2,''));
						}
					}
				});
				
				
				
				$('#picture').live('change', function () {

					if ( window.FileReader ) {
						var fileList = this.files;
						var file = fileList[0];
						var r = new FileReader();
						r.onload = function () {
							var binimage = r.result;
							binimage1 = binimage.replace('data:'+file.type+';base64,', '');
							var imag = "<img class='img-rounded' " + "src='" + 
							"data:"+file.type+";base64," + binimage1 + "' style='width:100px'/>";
							$("#picturePreview").html(imag);
						};
						r.readAsDataURL(file);
					
					}
					
					//r.readAsBinaryString(file);

					

				});

				
				
				markerLocation = new google.maps.Marker({
					visible:false,
					map:map,
					draggable:true,
					icon:'/images/beachflag.png',
					//position:center
				});
				
				$('#yakcat').typeahead({
					minLength : 3,
					source: function (typeahead, query) {
						$.ajax({
								url: "/api/cats",				
								success: function( ajax ) {
									typeahead.process(ajax.data.cats);
								}
							})},
					property: "title",
					onselect: function(obj) { 
						$("label[for='category']").after("<div class='pillItem'><i class='icon-remove icon-pointer'  onclick='yakcatArray.cleanArray(\""+obj._id+"\");$(\"#yakcatInput\").val(JSON.stringify(yakcatArray));$(this).parent().remove();'></i> "+obj.title+"</div>");
						$('#yakcat').val('').focus();
						yakcatArray.push(obj);
						$("#yakcatInput").val(JSON.stringify(yakcatArray));
						
						//console.log(yakcatArray);
					}
				});
				
				/*
				$('#place').typeahead({
					minLength : 3,							
					source: function (typeahead, query) {
						$.ajax({
								url: "/api/places",		
								success: function( ajax ) {
									typeahead.process(ajax.data.places);
								}
							})},
					property: "title",
					onselect: function(obj) { 
						$('#btn-place-adder').parent().before("<div><i class='icon-remove icon-pointer'  onclick='placeArray.cleanArray(\""+obj._id+"\");$(\"#placeInput\").val(JSON.stringify(placeArray));$(this).parent().remove();'></i> "+obj.title+"</div>");
						$('#place').val('').focus();
						placeArray.push(obj);
						$("#placeInput").val(JSON.stringify(placeArray));
					}
				});*/
					// autocomplete Place
				$('#place').typeahead({
					minLength : 3,							
					source: function (typeahead, query) {
						if(query.length >= 3){
							encodeURIComponent(query);
							$("#place").addClass('searching');
							var addressQuery = {"address": query ,"region":"fr","language":"fr"};
							var geocoder = new google.maps.Geocoder();
							geocoder.geocode( addressQuery, function(results, status) {						
							if (status == google.maps.GeocoderStatus.OK) {
								typeahead.process(results);
								$("#place").removeClass('searching');
							} 
							});
						}
					},
					property: "formatted_address",
					onselect: function(obj) { 
						var placeGmap = getPlaceFromGmapResult(obj);
						$('#btn-place-adder').parent().before("<div class='pillItem'><i class='icon-remove icon-pointer'  onclick='placeArray.cleanArrayByLocation(\""+placeGmap.location.lat+","+placeGmap.location.lng+"\");$(\"#placeInput\").val(JSON.stringify(placeArray));$(this).parent().remove();'></i> "+placeGmap.title+"</div>");
						$('#place').val('').focus();
						placeArray.push(placeGmap);
						$("#placeInput").val(JSON.stringify(placeArray));
					}
				});

				
				$('#btn-place-adder').click(function(){
					var addressString = $('#place').val();
					if(addressString != "Rechercher..." && addressString != "" && addressString.length > 1){
						var addressQuery = {"address": addressString,"latLng":map.getCenter(),"bounds":map.getBounds()};
						var geocoder = new google.maps.Geocoder();
						geocoder.geocode( addressQuery, function(results, status) {
							if (status == google.maps.GeocoderStatus.OK) {
								//map.setCenter(results[0].geometry.location);
								map.panTo(results[0].geometry.location);
								markerLocation.setVisible(true);
								markerLocation.setPosition(results[0].geometry.location);
								placeMarker(results[0].geometry.location,markerLocation);
								var placeGmap = getPlaceFromGmapResult(results[0]);
								placeArray.push(placeGmap);
								$("#placeInput").val(JSON.stringify(placeArray));
								$('#btn-place-adder').parent().before("<div class='pillItem'><i class='icon-remove icon-pointer' onclick='placeArray.cleanArrayByLocation("+results[0].geometry.location.Ya+","+results[0].geometry.location.Za+");$(\"#placeInput\").val(JSON.stringify(placeArray));$(this).parent().remove();'></i> "+results[0].formatted_address+"</div>");
								
							} else {
								var salt = new Date().getTime();
								$('#btn-place-adder').parent().before("<div id='alert"+salt+"' class='control-label'><i class='icon-exclamation-sign'> </i>Adresse invalide ("+status+")</div>");
								setTimeout(function() {
									$("#alert"+salt).fadeOut();
								}, 3000);
								$('#place').select();
							}
						});
					}
					
					
				});
			
			
			/*linkify*/
			$("body").delegate('.tagHashLink','click',function(event){
				//event.preventDefault();
				searchString = $(this).html();
				
				
				$('#searchStr').val(searchString);
				//searchString = encodeURIComponent(searchString);
				
				getAndPrintInfo();
			});
			$("body").delegate('.userHashLink','click',function(event){
				event.preventDefault();
				searchString = $(this).html();
				
				$('#searchStr').val(searchString);
				//searchString = encodeURIComponent(searchString);
				
				getAndPrintInfo();
			});
			
				
			manageSearchBox();

			

		});/*END READY*/

		function placeMarker(location,mk) {
			$('#latitude').val(location.lat());	
			$('#longitude').val(location.lng());	
			mk.setVisible(true);
			mk.setPosition(location);
		}

		function moveMap(){
			$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000 ,path:'/'});
			var latLng = new google.maps.LatLng(curPos.x,curPos.y);
			$('#locationChooser').modal('hide');
			if($('#mymap').length > 0){ // only for the map page
				map.panTo(latLng);
				//google.maps.event.addDomListener(window, 'load', initialize(curPos.x,curPos.y,10)); 
			}
			
		}

		function updateXY(){
				
			var id = $(this).attr('id');
			switch(id){
			case 'zone1':
				x = 48.851875;
				y = 2.356374;
				z = 13;
			break;
			case 'zone2':
				x = 43.610787;
				y = 3.876715;
				z = 14;
			break;
			case 'zone3':
				x = 50.583346;
				y = 4.900031;
				z = 14;
			break;
			default:
				x = 48.851875;
				y = 2.356374;
				z = 13;
			}
			curPos = {'x':x,'y':y,'z':z};

			//socket.emit('position', curPos);
			
			//console.log(curPos);
					
			$('#locationChooser').modal('hide');
			
			if($('#mymap').length > 0){ // only for the map page
			// NOTE : initialize function is defined in map.jade and in new.jade : just a bit fifferent to deal the insertion
				google.maps.event.addDomListener(window, 'load', initialize(curPos.x,curPos.y,curPos.z)); 
			}
			//return curPos;
		}

		function changeLocation(location){
			var locationObj = JSON.parse(location);
			var latLng = new google.maps.LatLng(locationObj.lat,locationObj.lng);
			markerHL.setPosition(latLng);
			markerHL.setVisible(true);
			markerHL.setMap(map);
			markerHL.setOptions({icon:"/images/markers/target3.png"});
			setTimeout(function() {
				markerHL.setMap(null);
			}, 3000);
			map.panTo(latLng);

		}
		function manageSearchBox(){
			var width = $(window).width();
			if(width<960){
				$('#boxOpener').removeClass('opened').addClass('closed');
				$('#newsfeedMenu').animate({height:'0px',opacity:0},200,function(){drawNewsFeed();});
			}else{
				$('#boxOpener').removeClass('closed').addClass('opened');
				$('#newsfeedMenu').animate({height:'140px',opacity:1},200,function(){drawNewsFeed();});
			}


		}
		/* getMyBounds
		* calculate bounds according to screen size and feed position.
		*/
		function getMyBounds(){
			thebounds = map.getBounds();
			/*console.log('ca.f:lat max'+thebounds.ca.f);
			console.log('ca.b: lat min'+thebounds.ca.b);
			console.log('ea.f: lng max'+thebounds.ea.f);
			console.log('ea.b:lng min'+thebounds.ea.b);*/
			var width = $(window).width();
			var height = $(window).height();
			var pos = $("#newsfeedContainer").position();
			var scaleW = (parseFloat(thebounds.ea.f) - parseFloat(thebounds.ea.b)) / width ;
			var scaleH = (parseFloat(thebounds.ca.f) - parseFloat(thebounds.ca.b)) / height ;
			var feedOffsetW = pos.left * scaleW;
			var feedOffsetH = pos.top * scaleH;
			var borderOffsetW = 15 * scaleW;
			var borderOffsetHTop = 70 * scaleH;
			var borderOffsetHBottom = 0 * scaleH;
			
			if(width>768){
				var myBounds = {
					ca:{
						f: thebounds.ca.f-borderOffsetHTop,
						b: thebounds.ca.b+borderOffsetHBottom,	
					},
					ea:{
						f: thebounds.ea.b+feedOffsetW-borderOffsetW,
						b: thebounds.ea.b+borderOffsetW,
					}
				};
			}else{
				var myBounds = {
					ca:{
						f: thebounds.ca.f-borderOffsetHTop,
						b: thebounds.ca.f-feedOffsetH+borderOffsetHBottom,	
					},
					ea:{
						f: thebounds.ea.f-borderOffsetW,
						b: thebounds.ea.b+borderOffsetW,
					}
				};
			}
			
			
			return myBounds;
		}

		function drawNewsFeed(){	
			var newsfeedContainerHeight = window.innerHeight-$('#newsfeedContainer').offset().top-0+'px';
			$('#newsfeedContainer').css('height',newsfeedContainerHeight);
			var width = $(window).width();
			if(width < 767)
				$('#newsfeedContainer').css('top','300px');
			else
				$('#newsfeedContainer').css('top','10px');
			var newsfeedContentHeight = window.innerHeight-$('#newsfeedContent').offset().top-0+'px';
			$('#newsfeedContent').css('height',newsfeedContentHeight);
			$('#newsfeedContent').mCustomScrollbar("update");

			var newspostContentHeight = window.innerHeight-$('#newspostContent').offset().top-0+'px';
			$('#newspostContent').css('height',newspostContentHeight);

			$('#newspostContent').mCustomScrollbar("update");
		}
		
		function unhighlightInfo(obj,callback){
			markerHL.setAnimation(null);
			markerHL.setVisible(false);
			
			if (callback && typeof(callback) === "function") {  
				callback(obj);  
			} 
		}
		
		function highlightInfo(obj){
			var id = obj.attr('infoId');
			
			$.each(infoArray,function(key,val){
				
				if(val._id == id){
					// hide all markers
					//hideMarkers(7000);
					
					// clean if a marker is already highlighted
						
					var latLng = new google.maps.LatLng(val.location['lat'],val.location['lng']);
					markerHL.setPosition(latLng);
					markerHL.setVisible(true);
					markerHL.setMap(map);
					markerHL.setAnimation(google.maps.Animation.BOUNCE);
					markerHL.setOptions({icon:"/images/markers/type"+val.yakType+".png"});
					
					//$("ul#newsfeed li.mapHighlighterDetails").fadeOut().html('');
					//$("ul#newsfeed li.mapHighlighterDetails[infoid="+id+"]").fadeIn();
				
					// center map
					//map.setCenter(latLng);
					//map.panTo(latLng);
					
					// clear marker ( and infowindow )
					setTimeout(function() {
						
						//markerHL.setAnimation(null);
						//markerHL.setVisible(false);
						markerHL.setMap(null);
						
					}, 2000);
				}
			});
		}

		function rangeFromZ(){
			return Math.floor((curPos.z)/10+4);
		}
		function zFromRange(){
			return Math.floor((zoom-4)*10);
		}

		function changeRange(){
			zoom = rangeFromZ();
			map.setZoom(zoom);
			$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
		};
		function changeZoom(){
			curPos.z  = zFromRange();
			setLocalnessSliderText(curPos.z);	
			$("#rangeSelector").val(curPos.z).slider('value',curPos.z);
			$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
			
		};

		function initialize(x,y,z){
			// set user cookies
			//$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
			var center = new google.maps.LatLng(x,y);
			infowindow = new google.maps.InfoWindow({content: ".",maxWidth : 300});
			/*map = new google.maps.Map(document.getElementById('mymap'), {
				zoom: zoom,
				center: center,
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				disableDefaultUI: true,
			});*/
			map.setZoom(zoom);
			map.setCenter(center);
			
			map.setOptions({styles: pinkParksStyles});
			//var markerClustererOptions = {gridSize:30,maxZoom: 17,styles: [{height: 28,width: 28,url: "/images/markers/m1.png"},{height: 38,width: 38,url: "/images/markers/m2.png"},{height: 55,width:55,url: "/images/markers/m3.png"},{height: 85,width: 85,url: "/images/markers/m4.png"},{height: 85,width: 85,url: "/images/markers/m5.png"}]};
			//markerCluster = new MarkerClusterer(map, markers,markerClustererOptions);
			
			markerHL = new google.maps.Marker({position: center,map:map,visible:false});
			
			google.maps.event.addListener(map, 'idle', function() {
				cleanMarkers();
				bounds = getMyBounds();
				center = this.getCenter();
				curPos.x = center.lat();
				curPos.y = center.lng();
				zoom = this.getZoom();
				curPos.z = zFromRange();
				$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
				//markerCluster.clearMarkers();
				getAndPrintInfo();
			});
			
			
			
		}
		
		function cleanMarkers(){
		// clean existing markers
			$.each(markers,function(key,val){
					val.setMap(null);
			});
			
			markers = [];
			//markerCluster.clearMarkers();
		}
		
		function hideMarkers(ms){
		// hide existing markers for ms milisec
			//markerCluster.clearMarkers();
			$.each(markers,function(key,val){
					val.setVisible(false);
			});
			setInterval(function() {
				$.each(markers,function(key,val){
					val.setVisible(true);
				});
				//markerCluster.addMarkers(markers);
			}, ms);
			
		}
		
		function silentUpdater(){
			
			//searchString = encodeURIComponent(searchString).replace(/%2520/g, ' ');		
			
			//bounds = map.getBounds();
			bounds = getMyBounds();
			var apiUrl = '';
			if(yakType.toString() == 5)
				apiUrl = '/api/geoalerts/'+bounds.ca.b+'/'+bounds.ea.b+'/'+bounds.ca.f+'/'+bounds.ea.f+'/'+dateFrom+'/0/'+searchString+'/500';
			else	
				apiUrl = '/api/geoinfos/'+bounds.ca.b+'/'+bounds.ea.b+'/'+bounds.ca.f+'/'+bounds.ea.f+'/'+dateFrom+'/0/'+yakType.toString()+'/'+searchString+'/500';
			

			$.getJSON(apiUrl,function(ajax) {	
				$.each(ajax.data.info, function(key,val) {
					
					

					var flagExists = 0;
					
					$.each(infoArray,function(key2,val2){
						if(val2._id == val._id){
							flagExists = 1;
						}
					});
					
					if(flagExists == 0){

						printMapItem(val,key,1);
						printFeedItem(val,1,0);	
					
						
						infoArray.push(val);	
						
						
						
					}
				});
			});
		}
		
		function getAndPrintInfo(){
			infoArray = [];
			bounds = getMyBounds();
			//console.log(curPos.z);
			drawNewsFeed();
			
			cleanMarkers();
			//searchString = encodeURIComponent(searchString);
			
			if(typeof(yakType) == 'undefined' || yakType.length == 0){;
				printEmptyFeedItem();
				return;
			}

			var apiUrl = '';
			if(yakType.toString() == 5)
				apiUrl = '/api/geoalerts/'+bounds.ca.b+'/'+bounds.ea.b+'/'+bounds.ca.f+'/'+bounds.ea.f+'/'+dateFrom+'/0/'+searchString+'/500';
			else	
				apiUrl = '/api/geoinfos/'+bounds.ca.b+'/'+bounds.ea.b+'/'+bounds.ca.f+'/'+bounds.ea.f+'/'+dateFrom+'/0/'+yakType.toString()+'/'+searchString+'/500';
			
			//console.log(apiUrl);
			$.getJSON(apiUrl,function(ajax) {
				// empty the news feed
				$('#newsfeed').html('');

				if(typeof(ajax.data.info) == 'undefined' || ajax.data.info.length == 0){

					//$('#newsfeed').html('Aucune info !');
					printEmptyFeedItem();
				}else{
					
					$.each(ajax.data.info, function(key,val) {
						
						infoArray.push(val);					
						printMapItem(val,key,0);
						if(key<10)
							printFeedItem(val,0,0);	
					});
				printLoadingFeedItem();	
				//markerCluster.addMarkers(markers);
				}
				$("abbr.timeago").timeago();
				$('#newsfeedContent').mCustomScrollbar("update");


			});

			$.ajax({
				url: "http://maps.googleapis.com/maps/api/geocode/json?latlng=" + curPos.x +"," + curPos.y + "&sensor=false",				
				success: function( ajax ) {

					console.log(ajax);
					var placeGmap = getPlaceFromGmapResult(ajax.results[0]);
					//console.log(placeGmap);
					$("#searchPlaceStr").val(placeGmap.address.city + ", " + placeGmap.address.country);
				}
			});
		}

		function printMapItem(item,key,bounce){
			var latLng = new google.maps.LatLng(item.location['lat'],item.location['lng']);
			var marker = new google.maps.Marker({position: latLng,icon:"/images/markers/new/type"+item.yakType+".png"});
			markers.push(marker);
			marker.setMap(map);	
			google.maps.event.addListener(marker, 'click', function() {
				//cleanMarkers();
				$("#newsfeed li").removeClass('highlighted');
				$("#newsfeed li[infoId=\""+item._id+"\"]").addClass('highlighted');
				if(typeof($(".mapHighlighter[infoId=\""+item._id+"\"]").html()) != 'undefined')
					$('#newsfeedContent').mCustomScrollbar("scrollTo",".mapHighlighter[infoId=\""+item._id+"\"]");
				else{
					printFeedItem(infoArray[key],1,1);
				}
			});	

			if(bounce == 1){
				marker.setAnimation(google.maps.Animation.BOUNCE);
				setTimeout(function() {
					marker.setAnimation(null);
					//markerCluster.addMarker(marker);
				}, 5000);
			}
		}

		function printFeedItem(item,top,scrollTo){

			/*if(item.yakCatName.length > 0){
				var yakCatNameArray = item.yakCatName.map(function(item){
					if(item.substr(0,1)!="#")
						item = "#"+item;
					return item.linkify();
					
				});	
				yakCatNameArray = yakCatNameArray.slice(0,3);

			}else
				var yakCatNameArray = new Array();
		
			if(typeof(item.freeTag[0]) != 'undefined' && item.freeTag[0].length > 0){
				var tagNameArray = item.freeTag.map(function(item){
					if(item.substr(0,1)!="#")
						item = "#"+item;
					return item.linkify();
				});
				tagNameArray = tagNameArray.slice(0,3);
			}else
				var tagNameArray = new Array();
			*/

			var dateTmp = new Date(item.pubDate);
			var pubDate = dateTmp.getDate()+'/'+(dateTmp.getMonth()+1)+'/'+dateTmp.getFullYear();
			dateTmp = new Date(item.dateEndPrint);
			var dateTmp2 = new Date(item.dateEndPrint);
			var dateEndPrint = dateTmp2.getDate()+'/'+(dateTmp2.getMonth()+1)+'/'+dateTmp2.getFullYear();

			infoContent = $("<div />");
			infoContent.attr("class", "infowindow mapHighlighter");
			infoContent.attr("infoId", item._id);

			var yakTypeImage = $("<div />");
			yakTypeImage.attr("class", "yakTypeImage");
			yakTypeImage.html("<img src='/images/markers/new/type" + item.yakType + ".png' />");
			infoContent.append(yakTypeImage);

			if(!(typeof item.thumb === 'undefined') && item.thumb != conf.batchurl && item.thumb != null) 
			{
				var thumbImage = $("<div />");
				thumbImage.attr("class", "thumbImage");
				thumbImage.append("<img src=\'"+item.thumb+"\' />");
				infoContent.append(thumbImage);
			}

			var itemTitle = $("<div />");
			itemTitle.attr("class", "itemTitle");
			itemTitle.html(item.title.linkify());
			infoContent.append(itemTitle);

			thedate = buildItemDate(item);
			var postedBy = $("<div />");
			postedBy.attr("class", "postedBy");
			
			postedBy.html("Posté par <a onclick='setSearchFor(this)'>"+item.origin+"</a> " + "<span class=\'date\'>"+thedate+"</span>");

			infoContent.append(postedBy);
			
			var thetags = "<div class=\'tags\'>";					

			/*if(item.yakCatName.length > 0)
				thetags += yakCatNameArray.join(', ');

			if(tagNameArray.length > 0){
				if(item.yakCatName.length > 0)
					thetags += ', ';
				thetags += tagNameArray.join(', ');
			}*/
			//console.log(item.yakCatName);
			if(item.yakCatName.length > 0)
			{
				for (var i = 0; i < item.yakCatName.length; i++) {
					thetags += '<a class="tagHashLink" onclick="setSearchFor(this)">#' + item.yakCatName[i] +'</a> ';	
				}
			}

			if (typeof(item.yakTag) != 'undefined') {
					
					for (var i = 0; i < item.yakTag.length; i++) {
						if(item.yakTag[i] != ""){
							thetags += '<a class="tagHashLink" onclick="setSearchFor(this)">#' + item.yakTag[i] +'</a> ';	
							if( i < item.yakTag.length -1)
								thetags += ', ';
						}
					}
			}

			if (typeof(item.freeTag) != 'undefined') {
					
					for (var i = 0; i < item.freeTag.length; i++) {
						if(item.freeTag[i] != ""){
							thetags += '<a class="tagHashLink" onclick="setSearchFor(this)">#' + item.freeTag[i] +'</a> ';	
							if( i < item.freeTag.length -1)
								thetags += ', ';
						}
					}
			}
			thetags += "</div>";

			
			infoContent.append(thetags);

			if(typeof(item.address) != 'undefined' && item.address != 'null' && item.address != '')
				var theaddress = "<div class=\'infodetail\'>"+item.address+"</div>";
					if(user.login == 'renaud.bessieres' || user.login == 'dany.srour') /// this is debug
						theaddress += "<div class=\'infodetail\'>"+pubDate+" >> "+dateEndPrint+"</div>";
			infoContent.append(theaddress);

			/*PRINT ON THE FEED*/
			//$('#newsfeed').append('<li class=\'mapHighlighter\' infoId=\''+item._id+'\'><i class=\'icon-eye-open\' ></i> '+item.title+'</li>')
			if(top==1)
			{
				var li = $("<li />");
				li.attr("class", "mapHighlighterDetails");
				li.attr("infoId", item._id);
				li.append(infoContent);
				$('#newsfeed').prepend(li);
			}
			else
			{
				var li = $("<li />");
				li.attr("class", "mapHighlighterDetails");
				li.attr("infoId", item._id);
				li.append(infoContent);
				$('#newsfeed').append(li);
			}
			
			

			if (scrollTo==1) {  
				$('#newsfeedContent').mCustomScrollbar("update");
				$('#newsfeedContent').mCustomScrollbar("scrollTo","ul#newsfeed");

			}  

			//to handle broken images

			
		}

		function printFeedItemold(item,top,scrollTo){
			
			if(item.yakCatName.length > 0){
				var yakCatNameArray = item.yakCatName.map(function(item){
					if(item.substr(0,1)!="#")
						item = "#"+item;
					return item.linkify();
				});	
				yakCatNameArray = yakCatNameArray.slice(0,3);
			}else
				var yakCatNameArray = new Array();
		
			if(typeof(item.freeTag[0]) != 'undefined' && item.freeTag[0].length > 0){
				var tagNameArray = item.freeTag.map(function(item){
					if(item.substr(0,1)!="#")
						item = "#"+item;
					return item.linkify();
				});
				tagNameArray = tagNameArray.slice(0,3);
			}else
				var tagNameArray = new Array();
				
			var dateTmp = new Date(item.pubDate);
			var pubDate = dateTmp.getDate()+'/'+(dateTmp.getMonth()+1)+'/'+dateTmp.getFullYear();
			dateTmp = new Date(item.dateEndPrint);
			var dateTmp2 = new Date(item.dateEndPrint);
			var dateEndPrint = dateTmp2.getDate()+'/'+(dateTmp2.getMonth()+1)+'/'+dateTmp2.getFullYear();

			infoContent = "<div class=\'infowindow mapHighlighter\' infoId='"+item._id+"'>";					
			
			if(!(typeof item.thumb === 'undefined') && item.thumb != '' && item.thumb != null)
				infoContent += "<img src=\'"+item.thumb+"\' />";

			infoContent += "<div class=\'title\'> <img class='yakTypeImg' src=\'/images/markers/type"+item.yakType+".png\' />";
			

			thedate = buildItemDate(item);
				
			
			infoContent += "<span class=\'date\'>"+thedate+"</span>";
			
			infoContent += item.title.linkify()+"</div>";

			infoContent += "<div class=\'tags\'>";					
				
			if(item.yakCatName.length > 0)
				infoContent += yakCatNameArray.join(', ');

			if(tagNameArray.length > 0){
				if(item.yakCatName.length > 0)
					infoContent += ', ';
				infoContent += tagNameArray.join(', ');
			}
			infoContent += "</div>";

			infoContent += "<div class=\'links\'>";					
				if(item.origin && item.origin !=  'undefined'){
					if(item.origin.substring(0,1) == '@')
						infoContent += "<div class=\'\'>Posté par <a href='/news/map/search/"+encodeURIComponent(item.origin)+"'>"+item.origin+"</a></div>";
					else
						infoContent += "<div class=\'\'>Posté par <a target='_blank' href='"+item.outGoingLink+"'>"+item.origin+"</a></div>";
				}
			if(typeof(item.address) != 'undefined' && item.address != 'null' && item.address != '')
					infoContent += "<div class=\'infodetail\'>"+item.address+"</div>";
					if(user.login == 'renaud.bessieres' || user.login == 'dany.srour') /// this is debug
						infoContent += "<div class=\'infodetail\'>"+pubDate+" >> "+dateEndPrint+"</div>";
			infoContent += "</div>";	
			//infoContent += "<div class=\'content\'>"+item.content.substring(0,250).linkify()+"...</div>";
			
			infoContent += "</div>";
			/*PRINT ON THE FEED*/
			//$('#newsfeed').append('<li class=\'mapHighlighter\' infoId=\''+item._id+'\'><i class=\'icon-eye-open\' ></i> '+item.title+'</li>')
			if(top==1)
				$('#newsfeed').prepend('<li class=\'mapHighlighterDetails\' infoId=\''+item._id+'\' >'+infoContent+'</li>');
			else	
				$('#newsfeed').append('<li class=\'mapHighlighterDetails\' infoId=\''+item._id+'\' >'+infoContent+'</li>');
			
			

			if (scrollTo==1) {  
				$('#newsfeedContent').mCustomScrollbar("update");
				$('#newsfeedContent').mCustomScrollbar("scrollTo","ul#newsfeed");

			}  
		}

		function printLoadingFeedItem(){
			$('.loadingfeeditem').hide();
			if(skip < infoArray.length - 10){
				infoContent = "<div class=\'infowindow loadingfeeditem\'></div>";					
				$('#newsfeed').append('<li class=\'mapHighlighterDetails\'>'+infoContent+'</li>');
			}
			
		}

		function printEmptyFeedItem(){
			$('.emptyfeeditem').hide();
			if($("#typeContainer .active").length > 0)
			{
			infoContent = "<div class=\'infowindow emptyfeeditem\'>Aucune info !</div>";					
			}
			else
			{
			infoContent = "<div class=\'infowindow emptyfeeditem\'>Choisissez un type d'info !!!</div>";					
			}
			$('#newsfeed').append('<li class=\'mapHighlighterDetails\'>'+infoContent+'</li>');
		}

		function printArrayFeedItem(){
			skip = skip + 10;
			var itemArray = infoArray.slice(skip,skip+10);
			$.each(itemArray,function(key,val){
				printFeedItem(val,0,0);
			});
			printLoadingFeedItem();
			$('#newsfeedContent').mCustomScrollbar("update");
		}

		function getItemDetails(el){
			
			

			var currentItem = $(el);



			var infoid = currentItem.attr("infoid");

			
			if (currentItem.find(".loadingMore").length > 0 || currentItem.find(".myitem").length > 0)
			{
				currentItem.find(".myitem").find(".icon-remove").remove();
				currentItem.find(".yakTypeImage").append("<i class='icon-remove' title='close' onclick='closemyitem(this);'></i>");
				currentItem.find(".myitem").show();
				return;
			}


			
			currentItem.append('<img src="images/loader_big.gif" class="loadingMore">');
			$.getJSON('/api/afeed', { id: infoid } ,function(data) {
				//console.log(data.info[0]);
				
				var val = data.info[0];
				
				if(val.user != undefined){
					thumbImage = 	conf.fronturl+'/pictures/120_90/'+val.thumb;
					mediumImage = 	conf.fronturl+'/pictures/512_0/'+val.thumb;
				}else{
					thumbImage = 	conf.batchurl+val.thumb;
					mediumImage = 	thumbImage.replace('thumb', 'medium');
				}


				
				

				var item = createFeedPageItem(val);
				currentItem.find(".loadingMore").remove();
				currentItem.append(item);
				currentItem.find(".myitem").append("<i class='icon-remove' title='close' onclick='closemyitem(this);'></i>");
				setshortUrl();
				setLikeSystem();

				
				if(val.thumbFlag == 2)
				{
					currentItem.find(".thumbImage").insertAfter(currentItem.find(".tags"));	
					currentItem.find(".thumbImage img").attr("src", mediumImage);
					currentItem.addClass("currentDetails");
					currentItem.removeClass("infowindow");

				}
				else
				{
					//currentItem.find(".thumbImage").remove();
					currentItem.find(".thumbImage img").show();
					currentItem.find(".thumbImage").insertAfter(currentItem.find(".yakTypeImage"));
					currentItem.find(".infodetail").insertAfter(currentItem.find(".tags"));
					
					$("ul#newsfeed li").removeAttr("style");
					$("ul#newsfeed").removeAttr("style");
				}
				
				
				currentItem.find(".infodetail").insertAfter(currentItem.find(".postedBy"));
				currentItem.find(".icon-remove").appendTo(currentItem.find(".yakTypeImage"));
				$("ul#newsfeed li").css("width", "100%");
				$("ul#newsfeed").css("width", "96%");
				$("#newsfeed li").removeClass('highlighted');
			currentItem.parent().addClass('highlighted');
			$('#newsfeedContent').mCustomScrollbar("scrollTo",".mapHighlighter[infoId=\""+currentItem.parent().attr("infoid")+"\"]");
			});

			if ($(el).find(".myitem").css("display") == "none") {
				$("#newsfeed").find(".myitem").hide();
				$(el).find(".myitem").show();
			}
			else
			{
				$(el).find(".myitem").hide();
			}


			
		}

		function closemyitem(el)
		{
			var currentItem = $(el).parent().parent();
			currentItem.find(".thumbImage img").show();
			currentItem.find(".thumbImage img").attr("src", thumbImage);
			currentItem.find(".thumbImage").insertAfter(currentItem.find(".yakTypeImage"));
			currentItem.find(".infodetail").insertAfter(currentItem.find(".tags"));
			currentItem.removeClass("currentDetails");
			currentItem.addClass("infowindow");
			$("ul#newsfeed li").removeAttr("style");
			$("ul#newsfeed").removeAttr("style");
			currentItem.find('.myitem').remove();
			currentItem.find(".icon-remove").remove();
		}

		function createFeedPageItem(val)
		{
			item = $("<div />");
			item.attr("class", "myitem");

			

			/*create the content element*/
			content = $("<div />");
			content.attr("class", "content");
			content.html("<div class='theContent'>" + val.content + "</div>");
			
			content.append("<br />");
			
			/* create the likes system */ 
			var yakLikes = $("<span />");
			yakLikes.attr("class", "yakLikes");
			yakLikes.attr("rel", val._id);

			var yakComments = $("<span />");
			yakComments.attr("class", "yakComments");
			yakComments.attr("rel", val._id);
			//console.log(val.yakComments);
			setCommentText(val.yakComments.length,yakComments);
			

			yakComments.click(function(){
				if ($(this).parent().find(".commentBox").length > 0)
				{
					return;
				}
					
				var currEleComment = $(this);
				var divComment = $("<div />");
				divComment.attr("class", "commentBox");
				$(this).append('<img class="loadingMore" src="images/loader_big.gif">');
				$.getJSON('/api/afeed', { id: $(this).attr("rel")} ,function(data) {
						$.each(data.info[0].yakComments, function(key, val){
							divComment.append(drawAComment(val, currEleComment.attr("rel"), 'map'));
						});
						divComment.append('<textarea maxlength="250" rows="3" class="yakTextarea" placeholder="Ajouter un commentaire..."></textarea>');

						divComment.find("textarea").keypress(function(event){
							if (event.keyCode == 13) {

								var comment = $(this).val();
								if(comment.length > 250)
								{
									alert("Comments only 250...");
									return;
								}
								var theArea = $(this);
								$(this).val("posting...Please wait");
								$(this).attr("disabled", "disabled");
								var newComment = new Array();
								newComment.infoid = currEleComment.attr("rel");
								newComment.username = user.login;
								newComment.userid = user._id;
								newComment.comment = comment;
								newComment.userthumb = user.thumb;
								newComment.date = new Date();
								$.post('/api/setComment', {infoId : currEleComment.attr("rel"), username: user.login, userthumb: user.thumb, comment: comment.substring(0, 249)} , function(res){
									if (res == 'updated')
									{
										theArea.val("");
										theArea.removeAttr("disabled");
										theArea.before(drawAComment(newComment));
									}

								});
							};
						});
						currEleComment.find(".loadingMore").remove();
						currEleComment.after(divComment);
				});	
			});

			var thumbsUp = "<i class='icon-thumbs-up'></i>&nbsp;";
			var thumbsDown = "<i class='icon-thumbs-down'></i>";
			if($.inArray(user._id, val.yaklikeUsersIds) > -1)
			{
				thumbsUp = "Vous avez aimé cette info !";
			}

			if($.inArray(user._id, val.yakunlikeUsersIds) > -1)
			{
				thumbsDown = "Vous n'avez pas aimé cette info.";
			}

			if($.inArray(user._id, val.yaklikeUsersIds) > -1 && $.inArray(user._id, val.yakunlikeUsersIds) == -1)
			{
				//yakLikes.append("<span class='theUps'>" + val.likes + "</span> likes- " + "" + "<span class='theDowns'>" + val.unlikes +"</span> dislikes");			
				yakLikes.append("<span class='theUps'>" + val.likes + "</span> likes");			
				yakLikes.click(function(){
					$('.alreadyVoted').hide();	
					$(this).append("<span class='alreadyVoted'> Vous avez déjà donnée votre avis !</span>");
					setTimeout('$(".alreadyVoted").remove()', 3000);
				});

			}
			else if($.inArray(user._id, val.yaklikeUsersIds) == -1 && $.inArray(user._id, val.yakunlikeUsersIds) > -1)
			{
				//yakLikes.append("<span class='theUps'>" + val.likes + "</span> likes- " + "" + "<span class='theDowns'>" + val.unlikes +"</span> dislikes");							
				yakLikes.append("<span class='theUps'>" + val.likes + "</span> likes");							
				yakLikes.click(function(){
					$('.alreadyVoted').hide();
					$(this).append("<span class='alreadyVoted'> Vous avez déjà donnée votre avis !</span>");
					setTimeout('$(".alreadyVoted").remove()', 3000);
				});
			}
			else
			{

			//yakLikes.append(thumbsUp + "<span class='theUps'>" + val.likes + "</span> likes- " + thumbsDown + "<span class='theDowns'>" + val.unlikes +"</span> dislikes");			
			yakLikes.append(thumbsUp + "<span class='theUps'>" + val.likes + "</span> likes ");			

			}


			more = $("<a />");
			more.attr("class", "more");
			more.attr("href", val.outGoingLink);
			more.attr("target", "_blank");
			more.attr("rel", val._id);
			more.attr("data-toggle", "data-toggle");
			more.html(" plus de détails...");
			
			content.append("<div class='shareMe'><i style='background: none' class='icon-share' title='Share Me'><img src='images/ftg.png' class='ftgIcon' /> </i></div>");
			if(typeof(val.outGoingLink) != 'undefined')
				content.find(".theContent").append(more);
			item.append(content);
			item.append(yakLikes);
			item.append(yakComments);
			item.append()
			return item;	
		}