mixin menu(active)
	include ../../front/mixins/locationChooser.jade	
	if(active != "login")
		div.navbar.navbar-fixed-top
			div.navbar-inner
				.container-fluid
					a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
						a.brand(href="") YAKWALA

						div.btn-group.pull-right
							a.customprofile(href="/user/logout",title=locals.user.login)
								img.avatar(id="profileMenu", src=locals.user.thumbsmall, alt=locals.user.name, title="Logout from "+locals.user.name)
						- if (active != 'dashboard' && active != 'login')
							div.btn-group.pull-right
								&nbsp;&nbsp;&nbsp;
								span
									span.btn#zoneLocButton(title="Mes endroits favoris")
										i.icon-star
										&nbsp;Mes endroits favoris
								&nbsp;&nbsp;&nbsp;	
						div.nav-collapse
							ul.nav
								- if (active == 'dashboard')
									li.active
										a(href="/") Dashboard
								- else
									li
										a(href="/") Dashboard

								li.divider-vertical
								li.dropdown(class= (active == 'info' || active == 'place' || active == 'illicite') ? "active" : "")
										a.dropdown-toggle#dLabel(role="button", data-toggle="dropdown", data-target="#", href="#")
											| Curation
											b.caret
										ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
											li(class= active == 'info' ? "active" : "")
												a(href="/info/list") 
													span1#infonumber
													| Infos
											li(class= active == 'place' ? "active" : "")
												a(href="/place/list") 
													span1#placenumber
													| Lieux
											li(class= active == 'illicite' ? "active" : "")
												a(href="/illicites/list") 
													span1#illicitenumber
													| Modération
								li.divider-vertical	
									li.dropdown(class= (active == 'feed' || active == 'yakNE' || active == 'yakBL' || active == 'zone' || active == 'yakcat') ? "active" : "")
										a.dropdown-toggle#dLabel(role="button", data-toggle="dropdown", data-target="#", href="#")
											| Flux de données
											b.caret
										ul.dropdown-menu(role="menu", aria-labelledby="dLabel")	
											li(class= active == 'feed' ? "active" : "")
												a(href="feed/list") Flux
													span1#feednumber
											li(class= active == 'yakNE' ? "active" : "")
												a(href="/yakNE/list") Mots-clés
											li(class= active == 'yakBL' ? "active" : "")
												a(href="/yakBL/list") Mots blacklistés
											li(class= active == 'zone' ? "active" : "")
												a(href="zone/list") Zones
											li(class= active == 'yakCat' ? "active" : "")
												a(href="/categories/list") Catégories
								li.divider-vertical			
									li(class= active == 'user' ? "active" : "")
										a(href="/user/list") Utilisateurs
											span1#usernumber
								li.divider-vertical
								
		div#alertInfo.alert.alert-info
			button.close(type="button",data-dismiss="alert") x
			span.alertText								

		script

			var user =!{JSON.stringify(user)};
			var conf = !{conf};
			var mainConf = !{mainConf};	

			$(document).ready(function() {
				$.getJSON('/api/validinfos', function(data) {
					if (data.info != 0)
						$('#infonumber').addClass('badge badge-important').html(data.info);
				});

				$.getJSON('/api/validusers', function(data) {
					if (data.info != 0)
						$('#usernumber').addClass('badge badge-important').html(data.info);
				});

				$.getJSON('/api/validplaces', function(data) {
					if (data.info != 0)
						$('#placenumber').addClass('badge badge-important').html(data.info);
				});
				$.getJSON('/api/validillicites', function(data) {
					if (data.info != 0)
						$('#illicitenumber').addClass('badge badge-important').html(data.info);
				});

				if (!user.thumbsmall.match("no-user.png$"))
					$("#profileMenu").html("<img src='"+user.thumbsmall+"' />");
				else{
					if(user.gravatarStatus == 1)
						setGravatar();
					}
			});
