mixin menu(active)
	include ../../front/mixins/locationChooser.jade	
	if(active != "login")
		div.navbar.navbar-fixed-top
			div.navbar-inner
				.container-fluid
					a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
						a.brand(href="") YAKWALA

						div.btn-group.pull-right
							a.customprofile(href="/user/logout",title=locals.user.login)
								img.avatar(id="profileMenu", src=locals.user.thumbsmall, alt=locals.user.name, title=locals.user.name)
						- if (active != 'dashboard' && active != 'login')
							div.btn-group.pull-right
								&nbsp;&nbsp;&nbsp;
								span
									span.btn#zoneLocButton(title="Mes endroits favoris")
										i.icon-star
										&nbsp;Mes endroits favoris
								&nbsp;&nbsp;&nbsp;

						div.nav-collapse
							ul.nav
								- if (active == 'dashboard')
									li.active
										a(href="/") Dashboard
								- else
									li
										a(href="/") Dashboard
								- if(active == 'place')
									li.active
										a(href="/place/list") Lieux
											span1#placenumber
								- else
									li
										a(href="/place/list") Lieux
											span1#placenumber
								- if (active == 'info')
									li.active
										a(href="") Infos
											span1#infonumber
								- else
									li
										a(href="") Infos
											span1#infonumber
								- if (active == 'feed')
									li.active
										a(href="feed/list") Flux
								- else
									li
										a(href="feed/list") Flux					
								- if (active == 'comment')
									li.active
										a(href="") Commentaires
											span1#commentnumber
								- else
									li
										a(href="") Commentaires
											span1#commentnumber
								- if (active == 'yakcat')
									li.active
										a(href="") Catégories
											span1#catnumber
								- else
									li
										a(href="") Catégories
											span1#catnumber
								- if (active == 'user')
									li.active
										a(href="/user/list") Utilisateurs
											span1#usernumber
								- else
									li
										a(href="/user/list") Utilisateurs
											span1#usernumber
		div#alertInfo.alert.alert-info
			button.close(type="button",data-dismiss="alert") x
			span.alertText								

		script

			var user =!{JSON.stringify(user)};
			var conf = !{conf};
			var mainConf = !{mainConf};	

			$(document).ready(function() {
				$.getJSON('/api/validinfos', function(data) {
					if (data.info != 0)
						$('#infonumber').addClass('badge badge-important').html(data.info);
				});

				$.getJSON('/api/validusers', function(data) {
					if (data.info != 0)
						$('#usernumber').addClass('badge badge-important').html(data.info);
				});

				$.getJSON('/api/validcats', function(data) {
					if (data.info != 0)
						$('#catnumber').addClass('badge badge-important').html(data.info);
				});

				$.getJSON('/api/validplaces', function(data) {
					if (data.info != 0)
						$('#placenumber').addClass('badge badge-important').html(data.info);
				});

				if (!user.thumbsmall.match("no-user.png$"))
					$("#profileMenu").html("<img src='"+user.thumbsmall+"' />");
				else{
					if(user.gravatarStatus == 1)
						setGravatar();
					}
			});
