mixin locationChooser(page)

	div.modal.hide.fade#locationChooser
		div.modal-header
			button.close(type="button", data-dismiss="modal") x
			h3 Y a quoi là ?
		div.modal-body
			p.alertText 
				ul.favplacelist.unstyled
					li
					- if(locals.user.favplace)
							- each favplace in locals.user.favplace
								li.zoneLoc(pointId=favplace._id, lat=favplace.location.lat, lng=favplace.location.lng, pointname=favplace.name)
									i.icon-map-marker
									span(data-dismiss="modal")= favplace.name
									i.icon-remove.icon-pointer(onclick='removefavPlace($(this));')
									//
										div.theslider(title=favplace.range, alt=favplace._id)
										span.localnessPrinter Local
									select.dropdownRangeSelector(alt=favplace._id)
										option(value="70", rangeText="Local")
											|Local
										option(value="80", rangeText="Très Local")
											|Très Local
										option(value="100", rangeText="Super Local")
											|Super Local
										option(value="120", rangeText="Hyper Local")
											|Hyper Local
											

				br	
				- if(session)
					div.control-group
						div.controls
							label(for='favplace') Ajouter des endroits favoris : 
							input#favplace.searchInput(type="text",data-provide="typeahead", name="favplace", autocomplete="off", placeholder='Rechercher...') 
								
		div.modal-footer
			span.btn(data-dismiss="modal") Fermer
	
	script
		/*slider range selector*/
		console.log(user);
		var starter = 1;

		$( ".theslider" ).slider({
			range: "min",
			min: 0,
			max: 100,
			step:10,
			value: 20,
			slide: function(event,ui){
				setLocalnessSliderText(ui.value, $(this).parent().find(".localnessPrinter"));
			},
			change:function(event, ui){
				var favPlaceId = changePlaceRange($(this).attr("alt"), $(this).parent().attr("lat"), $(this).parent().attr("lng"), $(this).parent().attr("pointname"), ui.value);
				$(this).attr("alt", favPlaceId);
				//changeRange();
				//$("#rangeSelector").find("a.ui-slider-handle").css("left", ui.value + "%");
				//$("#rangeSelector").find("div.ui-slider-range").css("width", ui.value + "%");
				//$("#rangeSelector").parent().find("#localnessPrinter").eq(1).html(curPos.name);
				//$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
				

			},
			create:function(event, ui){
				setLocalnessSliderText(parseInt($(this).attr("title")), $(this).parent().find(".localnessPrinter"));
				//$(this).slider( "value", parseInt($(this).attr("title") ) );
				$(this).find("a.ui-slider-handle").css("left", $(this).attr("title") + "%");
				$(this).find("div.ui-slider-range").css("width", $(this).attr("title") + "%");
				
			}
		});
	- if(page == 'map')
		script
			/*endroits favoris*/
			$('ul.favplacelist').delegate("li.zoneLoc span",'click', function () {
				var currentSliderValue = $(this).parent().find('.theslider').attr('alt');
				curPos.name = $(this).parent().find("span").eq(0).html();
				curPos.x =  $(this).parent().attr("lat");
				curPos.y =  $(this).parent().attr("lng");
				curPos.z =  currentSliderValue;
				$("#searchPlaceStr").val(curPos.name);
				$("#rangeSelector").find("a.ui-slider-handle").css("left", currentSliderValue + "%");
				$("#rangeSelector").find("div.ui-slider-range").css("width", currentSliderValue + "%");
				$("#rangeSelector").parent().find("#localnessPrinter").html($(this).parent().find(".localnessPrinter").html());
				moveMap();

			});	
	- if(page == 'feed')
		script
			/*endroits favoris*/
			$('ul.favplacelist').delegate("li.zoneLoc span",'click', function () {
				var currentSliderValue = $(this).parent().find('.theslider').attr('title');
				curPos.name = $(this).parent().find("span").eq(0).html();
				curPos.x =  $(this).parent().attr("lat");
				curPos.y =  $(this).parent().attr("lng");
				curPos.z =  currentSliderValue;
				$("#searchPlaceStr").val(curPos.name);
				$("#rangeSelector").find("a.ui-slider-handle").css("left", currentSliderValue + "%");
				$("#rangeSelector").find("div.ui-slider-range").css("width", currentSliderValue + "%");
				$("#rangeSelector").parent().find("#localnessPrinter").html($(this).parent().find(".localnessPrinter").html());
				changeRange();
			});	
		

	script
			$(document).ready(function(){
				var uldropdownRangeSelector = $("<select />");
				uldropdownRangeSelector.append('<option value="70">Local</li>');
				uldropdownRangeSelector.append('<option value="80">Très Local</li>');
				uldropdownRangeSelector.append('<option value="100">Super local</li>');
				uldropdownRangeSelector.append('<option value="120">Hyper local</li>');

				uldropdownRangeSelector.find("option").each(function(){
					if($(this).attr("value") == user.addressZoom)
						$(this).attr("selected", "selected");
					else
						$(this).removeAttr("selected");
				});

				var li = $("<li />");
				li.attr("class", "zoneLoc");
				li.attr("lat", user.location.lat);
				li.attr("lng", user.location.lng);
				li.attr("pointname", user.formatted_address);
				li.append("<i class='icon-home' />");
				li.append('<span data-dismiss="modal">' + user.formatted_address + '</span>');
				li.append(uldropdownRangeSelector);
				$('ul.favplacelist').prepend(li);

				$(".dropdownRangeSelector").change(function(){
					var favPlaceId = changePlaceRange($(this).attr("alt"), $(this).parent().attr("lat"), $(this).parent().attr("lng"), $(this).parent().attr("pointname"), $(this).val());
					$(this).attr("alt", favPlaceId);
				});

				$(".dropdownRangeSelector").find("option").each(function(){
					if($(this).attr("value") == user.addressZoom)
						$(this).attr("selected", "selected");
					else
						$(this).removeAttr("selected");
				});

			});
		
