mixin locationChooser(menu)

	div.modal.hide.fade#locationChooser
		div.modal-header
			button.close(type="button", data-dismiss="modal") x
			h3 Y a quoi là ?
		div.modal-body
			p.alertText 
				ul.favplacelist.unstyled
					- if(locals.user.favplace)
							- each favplace in locals.user.favplace
								li.zoneLoc(pointId=favplace._id, lat=favplace.location.lat, lng=favplace.location.lng, pointname=favplace.name)
									i.icon-map-marker
									span(data-dismiss="modal", onclick="setGeoLocaton(this)")= favplace.name
									i.icon-remove.icon-pointer(onclick='removefavPlace($(this));')
									div.theslider(title=favplace.range, alt=favplace._id)
									span.localnessPrinter Local
				br	
				- if(session)
					div.control-group
						div.controls
							label(for='favplace') Ajouter des endroits favoris : 
							input#favplace.searchInput(type="text",data-provide="typeahead", name="favplace", autocomplete="off", placeholder='Rechercher...') 
								
		div.modal-footer
			span.btn(data-dismiss="modal") Fermer

	script
		/*slider range selector*/
		var starter = 1;

		$( ".theslider" ).slider({
			range: "min",
			min: 0,
			max: 100,
			step:10,
			value: 20,
			slide: function(event,ui){
				setLocalnessSliderText(ui.value, $(this).parent().find(".localnessPrinter"));
			},
			change:function(event, ui){
				curPos.name = $(this).parent().find("span").eq(0).html();
				curPos.x =  $(this).parent().attr("lat");
				curPos.y =  $(this).parent().attr("lng");
				curPos.z =  ui.value;
				$("#searchPlaceStr").val(curPos.name);
				$(this).attr("alt", changePlaceRange($(this).attr("alt"), $(this).parent().attr("lat"), $(this).parent().attr("lng"), $(this).parent().attr("pointname"), ui.value));
				changeRange();
				$("#rangeSelector").find("a.ui-slider-handle").css("left", ui.value + "%");
				$("#rangeSelector").find("div.ui-slider-range").css("width", ui.value + "%");
				$("#rangeSelector").parent().find("#localnessPrinter").eq(1).html(curPos.name);
				//$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
				

			},
			create:function(event, ui){
				setLocalnessSliderText(parseInt($(this).attr("title")), $(this).parent().find(".localnessPrinter"));
				//$(this).slider( "value", parseInt($(this).attr("title") ) );
				$(this).find("a.ui-slider-handle").css("left", $(this).attr("title") + "%");
				$(this).find("div.ui-slider-range").css("width", $(this).attr("title") + "%");
				
			}
		});

		
