mixin loginApiForm()
	- if (message)
		div.alert.fade.in
			button.close(type="button",data-dismiss="alert") x
			strong=message
	div.well
		form(action='/api/oauth/session', method='POST')
			input#redirect_uri(type='hidden', name='redirect_uri', value=redirect_uri)
			input#response_type(type='hidden', name='response_type', value=response_type)
			input#client_id(type='hidden', name='client_id', value=client_id)
			div.control-group
				div.controls
					input#login(type="text",name="login", autocomplete="on", placeholder='Login')
			div.control-group
				div.controls
					input#password(type="text",name="password", autocomplete="on", placeholder='Password')
			div.control-group
				div.controls
					label.checkbox
						<input id="appauth" type="checkbox" name="appauth" value="1"> J'autorise l'application <b>!{client_name}</b> <br>à accéder à mes données.
			div.control-group
				div.controls		
					button.btn.btn-large.btn-block.btn-inverse(,type='submit', name='submit', id='submit', value='login') Accepter
			