mixin locationChooser(page)

	div.modal.hide.fade#locationChooser
		div.modal-header
			span#closeModal(type="button", data-dismiss="modal")

			h2 Endroits favoris: 
		div.modal-body
			p.alertText 
				ul#myPlaces.favplacelist.unstyled
					
					- if(locals.user.favplace)
							- each favplace in locals.user.favplace
								li.zoneLoc(pointId=favplace._id, lat=favplace.location.lat, lng=favplace.location.lng, pointname=favplace.name)
									span.redStars
									span.pull-left(data-dismiss="modal")= favplace.name
									span.closePlace(type="button", data-dismiss="modal", onclick='removefavPlace($(this));')
									//
										div.theslider(title=favplace.range, alt=favplace._id)
										span.localnessPrinter Local
									span.mylocalnessPrinter(style="display: none")
									select.pull-left.dropdownRangeSelector(alt=favplace._id, range=favplace.range)
										option(value="70", rangeText="Local")
											|Local
										option(value="80", rangeText="Très Local")
											|Très Local
										option(value="100", rangeText="Super Local")
											|Super Local
										option(value="120", rangeText="Hyper Local")
											|Hyper Local
											

				br	
				- if(session)
					div.control-group
						div.controls
							label(for='favplace') 
								span.redAdd
							input#favplace.searchInput.pull-left(type="text",data-provide="typeahead", name="favplace", autocomplete="off", placeholder='Ajouter des endroits favoris') 
								
		
	
	script
		/*slider range selector*/
		//console.log(user);
		var starter = 1;

		$( ".theslider" ).slider({
			range: "min",
			min: 0,
			max: 100,
			step:10,
			value: 20,
			slide: function(event,ui){
				setLocalnessSliderText(ui.value, $(this).parent().find(".localnessPrinter"));
			},
			change:function(event, ui){
				var favPlaceId = changePlaceRange($(this).attr("alt"), $(this).parent().attr("lat"), $(this).parent().attr("lng"), $(this).parent().attr("pointname"), ui.value);
				$(this).attr("alt", favPlaceId);
			},
			create:function(event, ui){
				setLocalnessSliderText(parseInt($(this).attr("title")), $(this).parent().find(".localnessPrinter"));
				//$(this).slider( "value", parseInt($(this).attr("title") ) );
				$(this).find("a.ui-slider-handle").css("left", $(this).attr("title") + "%");
				$(this).find("div.ui-slider-range").css("width", $(this).attr("title") + "%");
				
			}
		});
	- if(page == 'map')
		script
			/*endroits favoris*/
			$('ul.favplacelist').delegate("li.zoneLoc span",'click', function () {
				
				curPos.name = $(this).parent().find("span").eq(0).html();
				curPos.x =  $(this).parent().attr("lat");
				curPos.y =  $(this).parent().attr("lng");
				curPos.z =  $(this).parent().find(".dropdownRangeSelector").val();
				$("#searchPlaceStr").val(curPos.name);
				$("#localnessPrinter").html($(this).parent().find(".dropdownRangeSelector option:selected").text());
				
				changeRange();
				moveMap();
				var trackParams = {"params": [
										{"page" : "map"},
										{"name" : $("#searchPlaceStr").val()},
										{"lat" : curPos.x},
										{"lng" : curPos.y},
										{"range" : curPos.z},
									]
								};
				$.ajax({
					url: '/track/user/'+user._id+'/'+'9'+'/'+JSON.stringify(trackParams),
					type: "get",
					dataType: "json"
				});

			});	
	- if(page == 'feed')
		script
			/*endroits favoris*/
			$('ul.favplacelist').delegate("li.zoneLoc span",'click', function () {
				
				curPos.name = $(this).parent().find("span").eq(0).html();
				curPos.x =  $(this).parent().attr("lat");
				curPos.y =  $(this).parent().attr("lng");
				curPos.z =  $(this).parent().find(".dropdownRangeSelector").val();
				$("#searchPlaceStr").val(curPos.name);
				$("#localnessPrinter").html($(this).parent().find(".dropdownRangeSelector option:selected").text());
				changeRange();
				var trackParams = {"params": [
										{"page" : "feed"},
										{"name" : $("#searchPlaceStr").val()},
										{"lat" : curPos.x},
										{"lng" : curPos.y},
										{"range" : curPos.z},
									]
								};
				$.ajax({
					url: '/track/user/'+user._id+'/'+'9'+'/'+JSON.stringify(trackParams),
					type: "get",
					dataType: "json"
				});
			});	
		

	script
			function sortUnorderedList(ul, sortDescending) {
				if(typeof ul == "string")
					ul = document.getElementById(ul);

				var lis = ul.getElementsByTagName("LI");
				var vals = [];

				// Populate the array
				for(var i = 0, l = lis.length; i < l; i++)
				vals.push(lis[i].innerHTML);

				// Sort it
				vals.sort();

				// Sometimes you gotta DESC
				if(sortDescending)
				vals.reverse();

				// Change the list on the page
				for(var i = 0, l = lis.length; i < l; i++)
				lis[i].innerHTML = vals[i];
			}
			function setCitiesAsBold()
			{
				$(".zoneLoc span.pull-left").each(function(){
					var cityCountry = $(this).text().split(",");

					$(this).html("<b>"+cityCountry[0]+", </b>" + cityCountry[1]);
				});
			}
			$(document).ready(function(){
				setCitiesAsBold();
				var uldropdownRangeSelector = $("<select />");
				uldropdownRangeSelector.attr("class", "dropdownRangeSelector")
				uldropdownRangeSelector.append('<option value="70">Local</li>');
				uldropdownRangeSelector.append('<option value="80">Très Local</li>');
				uldropdownRangeSelector.append('<option value="100">Super local</li>');
				uldropdownRangeSelector.append('<option value="120">Hyper local</li>');
				uldropdownRangeSelector.hide();
				uldropdownRangeSelector.find("option").each(function(){
					if($(this).attr("value") == user.addressZoom)
						$(this).attr("selected", "selected");
					else
						$(this).removeAttr("selected");
				});

				var mylist = $('#myPlaces');
				var listitems = mylist.children('li').get();
				listitems.sort(function(a, b) {
				return $(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
				})
				$.each(listitems, function(idx, itm) { mylist.append(itm); });

				var li = $("<li />");
				li.attr("class", "zoneLoc");
				li.attr("lat", user.location.lat);
				li.attr("lng", user.location.lng);
				li.attr("pointname", user.formatted_address);
				li.append("<i class='icon-home' />");
				li.append('<span data-dismiss="modal">' + user.formatted_address + '</span>');
				li.append(uldropdownRangeSelector);
				$('ul.favplacelist').prepend(li);

				$(".dropdownRangeSelector").change(function(){
					var favPlaceId = changePlaceRange($(this).attr("alt"), $(this).parent().attr("lat"), $(this).parent().attr("lng"), $(this).parent().attr("pointname"), $(this).val());

					$(this).attr("alt", favPlaceId);
				});

				$(".dropdownRangeSelector").find("option").each(function(){
					if($(this).attr("value") == $(this).parent().attr("range"))
						$(this).attr("selected", "selected");
					else
						$(this).removeAttr("selected");
				});

			});

			function changemyrange(el)
			{
				var favPlaceId = changePlaceRange($(el).attr("alt"), $(el).parent().attr("lat"), $(el).parent().attr("lng"), $(el).parent().attr("pointname"), $(el).val());

				$(el).attr("alt", favPlaceId);
			}

		
