mixin loginForm()
	- if (message)
		div.alert.fade.in
			button.close(type="button",data-dismiss="alert") x
			strong=message
	div.myLogin
		br
		br
		div.loginHeader
			| Se connecter à Yakwala
		br
		br
		form(action='/session', method='POST')
			div.span1
			div.span4
				div.control-group.clearBoth
					div.controls
						//
							a(href="/auth/twitter")
								img(src="/images/twiiterconnect.png")
						a(style="cursor: pointer", onclick="getOptionsTwitter()")
								img(src="/images/twiiterconnect.png")
			
				div.control-group.clearBoth
					div.controls
						img#loginFB(src="/images/fblogin.png", style="cursor: pointer")
						span#userinfo.userinfo
						span#fb-root
				
				div.control-group.clearBoth
					div.controls
						div#customBtn.customGPlusSignIn
							img#customButton(src="/images/googleconnect.png", style="cursor: pointer")
						//
							span#signinButton
								span.g-signin(data-callback="signinCallback", data-clientid=mainConf.gpKey+".apps.googleusercontent.com", data-cookiepolicy="single_host_origin", data-requestvisibleactions="http://schemas.google.com/AddActivity", data-scope="https://www.googleapis.com/auth/plus.login")
						span#usergoogleinfo.userinfo

			div.span6.innerSplitter
				input#redir(type='hidden', name='redir', value=redir)
				div.control-group
					div.controls
						input#login(type="text",name="login", autocomplete="on", placeholder='Login')
				div.control-group
					div.controls
						input#password(type="password",name="password", autocomplete="on", placeholder='Password')
				
				i
					a(href='/user/new') &nbsp;Vous n&rsquo;avez pas encore de compte ?
				br	
				i
					a(href='/user/forgotpassword') &nbsp;Vous avez oublié votre mot de passe ?
				br	
				br	
				div.control-group
					div.controls.rememberme
						input(type="checkbox", name="remember", id="remember") 
						input(type="hidden", name="rememberme", id="rememberme")
						input(type="hidden", name="token", id="token")
						
						span
							|Conserver mes infos
				div.control-group.clearBoth
					div.controls				
						button.yakbtnLogin(type='submit', name='submit', id='submit') Connexion
		div.clearBoth
			
	script(src="http://connect.facebook.net/fr_FR/all.js")
	script(src='https://api.twitter.com/sessions/present.js?callback=twitterLoginStatus')
	script
		function twitterLoginStatus(state) {
			alert(state);
		}
	script
		var user = {};
		var conf = !{conf};
		var mainConf = !{mainConf};
		FB.init({ appId: mainConf.fbAccessKeyId });
		FB.getLoginStatus(handleSessionResponse);

		$('#loginFB').bind('click', function() {
			FB.login(handleSessionResponse);
		});

		function getOptionsTwitter()
		{
			$(".Socialoptions").remove();
			var Socialoptions = $("<div />");
			Socialoptions.attr("class", "Socialoptions");
			Socialoptions.html('<button class="yakbtnLogin" id="social_create" title="Vous ne possédez pas de compte Yakwala ? Créer le à partir de votre compte Twitter, vous gagnerez du temps !">Créer</button><!--&nbsp;<button class="yakbtnLogin" id="social_associate" title="Vous possédez déjà un compte Yakwala ? Associez le avec votre compte Twitter! Vous gagnerez du temps !">Associer</button>-->');
			$(".myLogin").after(Socialoptions);
			$("#social_associate").click(function(){
				$("#fromSocial").val("1");
				$('#loginPopUp').modal('show');
			});
			$("#social_create").click(function(){
				window.location = "/auth/twitter";
			});	
		}

		function handleGoogleClick(el, response, accessToken)
		{
			$.post("/auth/google/check", {user: response, accessToken : accessToken.access_token}, function(data){	
				if(data.redirectUrl != "none")
					window.location = conf.fronturl + data.redirectUrl;
				else
				{
					$("#social").val(JSON.stringify(response));
					$("#fromSocial").val("3");
					$('#loginPopUp').modal('show');
					$("#social_create").click(function(){
						$.post("/auth/google", {user: response}, function(data){		
								if(data.response == "4")
								{
									//console.log("fv");	
									window.location = conf.fronturl + "/settings/firstvisit";
								}
									
								else if(data.response == "1")
								{
									//console.log("map");	
									window.location = conf.fronturl + "/news/map";
								}
									
								else
								{
									//console.log("here");
									$("#fbloader").remove();
								}
									
							});						
					});
				}
			});
		}
		function handleFacebookClick(el, response, accessToken)
		{	
			$.post("/auth/facebook/check", {user: response, accessToken : accessToken}, function(data){
				
				if(data.redirectUrl != "none")
					window.location = conf.fronturl + data.redirectUrl;
				else
				{
					$("#social").val(JSON.stringify(response));
					$("#fromSocial").val("2");
					$('#loginPopUp').modal('show');
					$("#social_create").click(function(){
						$.post("/auth/facebook", {user: response}, function(data){
							if(data.response == "4")
							{
								//console.log("fv");	
								window.location = conf.fronturl + "/settings/firstvisit";
							}
								
							else if(data.response == "1")
							{
								//console.log("map");	
								window.location = conf.fronturl + "/news/map";
							}
								
							else
							{
								//console.log("here");
								$("#fbloader").remove();
							}
						});		
					});
				}
			});	
		}

		// handle a session response from any of the auth related calls
		function handleSessionResponse() {
			FB.getLoginStatus(function(response) {
				if (response.status === 'connected') {
				// the user is logged in and has authenticated your
				// app, and response.authResponse supplies
				// the user's ID, a valid access token, a signed
				// request, and the time the access token 
				// and signed request each expire
					var uid = response.authResponse.userID;
					var accessToken = response.authResponse.accessToken;
					$.cookie("fbToken",accessToken,{ expires: 10000, path : '/' });
					var tokrepsonse = response;
					$("#loginFB").remove();
					FB.api('/me', function(response) {
						if(!response.error)
						{
							var fbinfo = "<img class='pull-left' src='https:/graph.facebook.com/"+response.id+"/picture/' /><span class='pull-left'><a style='cursor: pointer' id='authenticatefb'> Bienvenue  " + response.name + "<br />" + " Login with facebook</a></span><span class='clearBoth'></span>";
							$("#userinfo").html(fbinfo);
							$("#authenticatefb").click(function(){
								handleFacebookClick($(this), response, accessToken);
							});
						}
					});
				} else if (response.status === 'not_authorized') {

				} else {
				}
			});
		}

		//console.log($.cookie);
		if($.cookie("firstlogin") == null)
		{ 
			killCookie("connect.sid");
			killCookie("geoloc", '/news/map/search');
			killCookie("geoloc", '/');
			killCookie("searchString");

			$.cookie("firstlogin", "1");

		}

		
	
		$(document).ready(function(){
						
			$("#remember").change(function(){
				if ($('#remember').attr('checked')) {
					$("#rememberme").val("true");
				}else
				{
					$("#rememberme").val("false");
					killCookie('loginid', '/');
					killCookie('token', '/');
					$("#login").val("");
					$("#password").val("");
				}
				
			});
			

			var login = $.cookie('loginid');
			
			if ( login != '' && login != null ) {
				var password = "********";
				var token = $.cookie('token');
				// autofill the fields
				$('#login').attr("value", login);
				$('#password').attr("value", password);
				$('#remember').attr('checked', "checked");
				$('#rememberme').val("true");
				$('#token').val(token);				
			}
		});
		
	script
		(function() {
			var po = document.createElement('script'); 
			po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/client:plusone.js?onload=render';
			var s = document.getElementsByTagName('script')[0]; 
			s.parentNode.insertBefore(po, s);
		})();

		function render()
		{
			gapi.signin.render("customBtn", { 
				'callback': 'signinCallback', 
				'clientid': mainConf.gpKey+'.apps.googleusercontent.com', 
				'cookiepolicy': 'single_host_origin', 
				'requestvisibleactions': 'http://schemas.google.com/AddActivity',
				'scope': 'https://www.googleapis.com/auth/plus.login'
			});

		}

		function signinCallback(authResult) {
			if (authResult['access_token']) {
			// Successfully authorized
			// Hide the sign-in button now that the user is authorized, for example:
			document.getElementById('customBtn').setAttribute('style', 'display: none');
			$.cookie("gpToken",authResult['access_token'],{ expires: 10000, path : '/' });
			gapi.client.load('plus', 'v1', function() {
				var request = gapi.client.plus.people.get({
				'userId': 'me'
				});
				request.execute(createProfileResponse);
			});


			
			} else if (authResult['error']) {
			// There was an error.
			// Possible error codes:
			//   "access_denied" - User denied access to your app
			//   "immediate_failed" - Could not automatially log in the user
			// console.log('There was an error: ' + authResult['error']);
			}
		}

		function createProfileResponse(resp) {
			//console.log(gapi.auth.getToken());
			var googleinfo = "<img class='pull-left' src='"+resp.image.url+"' /><span class='pull-left'><a style='cursor: pointer' id='authenticategoogle'> Bienvenu  " + resp.displayName + "<br />" + " Login with google</a></span><span class='clearBoth'></span>";
			$("#usergoogleinfo").html(googleinfo);
			$("#authenticategoogle").click(function(){
				handleGoogleClick($(this), resp, gapi.auth.getToken());
			});			

			/*$("#authenticategoogle").click(function(){
				$(this).after("<img id='fbloader' class='loader' src='/images/loader.gif' />");

				$.post("/auth/google/check", {user: resp}, function(data){	
					if(data.response == "0")
					{
						
						$("#fbloader").remove();
						$(".Socialoptions").remove();
						var Socialoptions = $("<div />");
						Socialoptions.attr("class", "Socialoptions");
						Socialoptions.html('<button class="yakbtnLogin" id="social_create" title="Vous ne possédez pas de compte Yakwala ? Créer le à partir de votre compte Google Plus, vous gagnerez du temps !">Créer</button>&nbsp;<button class="yakbtnLogin" id="social_associate" title="Vous possédez déjà un compte Yakwala ? Associez le avec votre compte Google Plus! Vous gagnerez du temps !">Associer</button>');
						$(".myLogin").after(Socialoptions);
						$("#social_associate").click(function(){
							$("#social").val(JSON.stringify(resp));
							$("#fromSocial").val("3");
							$('#loginPopUp').modal('show');
						});
						$("#social_create").click(function(){
							$.post("/auth/google", {user: resp}, function(data){		
								if(data.response == "4")
								{
									//console.log("fv");	
									window.location = conf.fronturl + "/settings/firstvisit";
								}
									
								else if(data.response == "1")
								{
									//console.log("map");	
									window.location = conf.fronturl + "/news/map";
								}
									
								else
								{
									//console.log("here");
									$("#fbloader").remove();
								}
									
							});						
						});
					}
					else
					{
						$.post("/auth/google", {user: resp}, function(data){		
							if(data.response == "4")
							{
								//console.log("fv");	
								window.location = conf.fronturl + "/settings/firstvisit";
							}
								
							else if(data.response == "1")
							{
								//console.log("map");	
								window.location = conf.fronturl + "/news/map";
							}
								
							else
							{
								//console.log("here");
								$("#fbloader").remove();
							}
									
						});						
					}
				});				

	
			}); */
		}
		

