include ../blocks/range.jade
mixin searchFormUnified(page)
	div.navbar.navbar-fixed-top.searchYakwala
		ul#searchElementContainer.nav
			li
				input.search-query.customInput.tour_1#searchStr(type="search",placeholder="Quoi ?",autocomplete="off")
			
				input.search-query.customInput#searchPlaceStr.tour_2(type="search",placeholder="Où ?",autocomplete="off", data-provide="typeahead")
			
				button#searchBtn(type="submit")	
			li
				div#timeContainer
					div#dayPrinter.sliderText 
						span#blackBox
							|Aujourd hui	
					img.pull-left.timeIcon(src="/images/time.png")
					div#heatSelector

			li
				img.pull-left.filterIcon(src="/images/filter.png")
				a.btn#rangeSelectorTrigger.pull-left
					span#localnessPrinter.sliderText Localness
					span.caret
					mixin range
			li
				a.btn#tagSelectorTrigger.pull-left
					span#hotTagPrinter.sliderText Hot Tags
					span.caret
					ul#dropdownTagSelector.dropdown-menu
			li.rightPull
				span#btnDiscussion(title="Voir les Yassalas", type=4, onclick='setDiscussion(this)') 			
				span#btnMesalertes(title="Passer en mode Alertes", type=5, onclick='setAlert(this)')

	div#closehideSearch
		img(src="/images/new/openClose.png", alt="Ouvrir, Fermer", title="Ouvrir, Fermer")



	script
		var psClick = 0;

		var user =!{JSON.stringify(user)};

		var mainConf = !{mainConf};	

		var propertyname = 'title';
		
		var yakType = ($.isEmptyObject($.cookie("yaktype")))?mainConf.typeDefault.split(','):$.cookie("yaktype").split(',');

		var yakTypeStored = [];
		// unicity
		yakType = yakType.filter(function (e, i, arr) {
			return arr.lastIndexOf(e) === i;
		});

		if(yakType == 0)
			yakType = [];

		// test with no button type -> force type 1 & 2// TO REMOVE
		
		if($.inArray("1", yakType)== -1)
			yakType.push("1");
		if($.inArray("2", yakType) == -1)
			yakType.push("2");

		var curPos = ($.isEmptyObject($.cookie("geoloc")))?{'x':user.location.lat,'y':user.location.lng,'z':mainConf.rangeDefault,'name':user.formatted_address}:JSON.parse($.cookie("geoloc"));

		var dateFrom = ($.isEmptyObject($.cookie("dateFrom")))?mainConf.dateFromDefault:$.cookie("dateFrom");
		var searchString = "!{str}".toString();

		if(searchString=='')
			searchString = ($.isEmptyObject($.cookie("searchString")))?null:$.cookie("searchString");
		
		$('#searchPlaceStr').val(curPos.name);

		$('#locationInput').val(JSON.stringify({lat:curPos.x,lng:curPos.y}));						


		


		$(document).ready(function(){

				
				
				if(yakType.inArray("4"))
					$("#btnDiscussion").addClass('active').attr('title','Cacher les Yassalas');
					
					

				if(yakType.inArray("5")){
					$("#btnMesalertes").addClass('active').attr('title','Passer en mode normal');
					console.log('active ALerte');
				}
					
				//getHotTags(curPos,dateFrom);

				$('#dropdownTagSelector').unbind("click").on('click','li', function (e) {
					searchString = "#"+$(this).html();
					$('#searchStr').val(decodeURIComponent(searchString.replace('%2520', ' ')));
					$('#searchStr').focus();
					$('#searchStr').select();
					$('#searchBtn').trigger('click');
					changeRange();
				});

				setTimeSliderText(dateFrom);

				setLocalnessSliderText(curPos.z);
		
				/*search info and place*/
				if(searchString != null)
					$('#searchStr').val(decodeURIComponent(searchString.replace('%2520', ' ')));

				
				
				$('#searchStr').unbind('keyup').on('keyup',function(event){
					var clicked = $(this);
					setdelay(function(){
						if(clicked.val().length > 0){
							clicked.addClass('searching');
							searchString = encodeURIComponent($('#searchStr').val());
						}else{
							clicked.removeClass('searching');
							searchString = null;
						}
							

						$('#searchBtn').trigger('click');
						console.log('TRIGGERED');
					
					}, 400);
					
				});


				$('#searchPlaceStr').unbind("click").on('click',function(){
					$(this).select();
				});

				// reset
				$('#searchStr').unbind("click").on('click',function(){
					$(this).select();
				});
				
				$('#searchPlaceStr').keyup(function(event){
					var query = $("#searchPlaceStr").val();
					if(query.length < 3)
					{
						$("#searchPlaceStr").removeClass('searching');
					}
					psClick = 0;
					if (event.which == 13) {
						
						if(query==''){
							curPos.name = user.formatted_address;
							curPos.x = user.location.lat;
							curPos.y = user.location.lng;
							//curPos.z = mainConf.rangeDefault;
							$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
							$('#searchPlaceStr').val(curPos.name);	

						}
						else
						{
							
							if(query.length >= 3){
								encodeURIComponent(query);
								$("#searchPlaceStr").addClass('searching');
								var addressQuery = {"address": query ,"region":"fr","language":"fr"};
								var geocoder = new google.maps.Geocoder();
								geocoder.geocode( addressQuery, function(results, status) {						
								if (status == google.maps.GeocoderStatus.OK) {
									if(results.length > 0)
									{
										$("#searchPlaceStr").removeClass('searching');
										curPos.x = results[0].geometry.location.Ya;
										curPos.y = results[0].geometry.location.Za;
										curPos.name = results[0].formatted_address;
										$("#searchPlaceStr").val(curPos.name);
										$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
										$("#searchBtn").trigger('click');
									}
									else
									{
										$("#searchPlaceStr").removeClass('searching');
										alert("No Places Found...");
									}
								} 
								else
								{
									$("#searchPlaceStr").removeClass('searching');
									alert("No Places Found...");
								}
								});
							}
						}
						$('#searchBtn').trigger('click');
					}
				});

				/* this induce a refresh at clicking anywhere on the page when going from the search to a tag for ex.
				$('#searchStr').blur(function(event){
					$("#searchBtn").trigger('click');
				});
				*/

				/* this induce a refresh at clicking anywhere on the page when going from the search to a tag for ex.
				
				$('#searchPlaceStr').blur(function(event){
					if($(this).val()==''){
						curPos.name = user.formatted_address;
						curPos.x = user.location.lat;
						curPos.y = user.location.lng;
						//curPos.z = mainConf.rangeDefault;
						$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
						$('#searchPlaceStr').val(curPos.name);
						
					}
					$("#searchBtn").trigger('click');
				});
				*/
				
				
			/*slider time selector*/
			$( "#heatSelector" ).slider({
				range: "min",
				min: -24,
				max: 100,
				value: invGetDaysFrom(dateFrom),
				slide: function( event, ui ) {
					var x = ui.value;
					dateFrom = getDaysFrom(x);
					setTimeSliderText(dateFrom);
				},
				change:function(event, ui){
					
					var x = ui.value;
					dateFrom = getDaysFrom(x);
					getAndPrintInfo();
					$.cookie("dateFrom", dateFrom,{ expires: 10000, path : '/' });
				},
				create: function(event, ui){
					setBlackBockPosition();
				}
			});
			
			/*slider range selector*/
			$( "#rangeSelector" ).slider({
				range: "min",
				min: 0,
				max: 100,
				step:10,
				value: curPos.z,
				slide: function(event,ui){
					setLocalnessSliderText(ui.value);
				},
				change:function(event, ui){
					curPos.z =  ui.value;
					changeRange();
					$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
				}
			});

			/*init yakType selector*/
			$('#newsfeedMenu span.btn').removeClass('active');
			
			
			$.each(yakType,function(key,val){
				$("#newsfeedMenu span.btn[type=\""+val+"\"]").addClass('active');
			});

			
			/*type selector*/
			/*
			$('#newsfeedMenu span.btn').unbind("click").on('click',function(){
				var curtype = $(this).attr('type');
				if(curtype == 5){
					$('#newsfeedMenu span.btn').removeClass('active');
					$(this).addClass('active');
					yakType = [5];
				}else{
					if($("#btnMesalertes").hasClass('active'))
						$("#btnMesalertes").removeClass('active');
					else
						$("#btnMesalertes").addClass('active');
					$('#newsfeedMenu span.btn[type="5"]').removeClass('active');
					$('#newsfeedMenu span.btn[type="3"]').removeClass('active');
					yakType.cleanArrayByName(3);	
					yakType.cleanArrayByName(5);	
					if($(this).hasClass('active')){
						$(this).removeClass('active');
						yakType.cleanArrayByName(curtype);	
					}
					else{
						$(this).addClass('active');
						yakType.push(curtype);
					}

					if(yakType.length == 0)
						yakType = [];
					else
					{
						//for testing reasons only on discussions
						if($(this).hasClass('active')){
							yakType = ["1", "2", "4"];
						}
						else
						{
							yakType = ["1", "2"];	
						}
						

					}
				}
				$.cookie("yaktype", yakType.join(','),{ expires: 10000, path : '/' });

				getAndPrintInfo();
			});
			*/

			// autocomplete Place
			$('#searchPlaceStr').typeahead({
				minLength : 3,							
				source: function (typeahead, query) {
					if(query.length >= 3){
						encodeURIComponent(query);
						$("#searchPlaceStr").addClass('searching');
						var addressQuery = {"address": query ,"region":"fr","language":"fr"};
						var geocoder = new google.maps.Geocoder();
						geocoder.geocode( addressQuery, function(results, status) {						
						if (status == google.maps.GeocoderStatus.OK) {
							typeahead.process(results);
							$("#searchPlaceStr").removeClass('searching');
						} 
						});
					}
				},
				property: "formatted_address",
				onselect: function(obj) { 
					psClick = 1;
					$("#searchPlaceStr").removeClass('searching');
					var placeGmap = getPlaceFromGmapResult(obj);
					$('#locationInput').val(JSON.stringify(placeGmap.location));
					curPos.x = placeGmap.location.lat;
					curPos.y = placeGmap.location.lng;
					curPos.name = placeGmap.formatted_address;
					$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
					$("#searchBtn").trigger('click');
				}
			});
			
			// autocomplete Info			
			$('#searchStr').typeahead({
					minLength : 2,
					source: function (typeahead, query) {
						if(query.indexOf('@') == 0){
							var currenturl = '/api/feedusersearch/' + query.substring(1, query.length);				
						}
						else{
							var	print = 0
							if('#{page}' == 'map')
								print = 1;	
							var currenturl = '/api/catsandtags/'+curPos.x+'/'+curPos.y+'/'+((-1)*0.0096/1*(curPos.z)+1)+'/'+dateFrom+'/'+print;						
						}
						encodeURIComponent(query);
						if(query.length >= 2){
							$.ajax({
									url: currenturl,				
									success: function( ajax ) {
										typeahead.process(ajax.data.catsandtags);
										$("#searchStr").removeClass('searching');
									}
								})}
					},
					property: 'title',
					onselect: function(obj) { 
						if(typeof(obj.name) != 'undefined')
							$("#searchStr").val("@" + obj.name);
						else
							$("#searchStr").val("#" + obj.title);	
						$("#searchBtn").trigger('click');
						$("#searchStr").removeClass('searching');

					}
				});
			
				//console.log($('#searchStr')["__proto__"]["typeahead"]);

			/*
			$("#filterTypes").on('click',function(){
				if($("#typeContainer").css("display") == "none")
				{
					$(this).find("span").html("Fermer");
					$(this).find(".icon-chevron-right").hide();
					$(this).find(".icon-chevron-left").show();
					$("#typeContainer").show();
				}
				else
				{
					$(this).find("span").html("Filter");
					$(this).find(".icon-chevron-left").hide();
					$(this).find(".icon-chevron-right").show();
					$("#typeContainer").hide();
				}
					
			});
			*/

			/*
			$("#heatModuleTrigger").on('click',function(){
				if($("#dropdownTimeSelector").css("display") == "none")
				{
					$("#dropdownTimeSelector").show();
				}
				else
				{
					$("#dropdownTimeSelector").hide();
				}
					
			});
			*/

			$("#rangeSelectorTrigger").unbind("click").on('click',function(){
				$("#dropdownTagSelector").hide();
				if($("#dropdownRangeSelector").css("display") == "none")
				{
					$("#dropdownRangeSelector").show();
				}
				else
				{
					$("#dropdownRangeSelector").hide();
				}
					
			});

			$("#tagSelectorTrigger").unbind("click").on('click',function(){
				$("#dropdownRangeSelector").hide();
				if($("#dropdownTagSelector").css("display") == "none")
				{
					$("#dropdownTagSelector").show();
				}
				else
				{
					$("#dropdownTagSelector").hide();
				}
					
			});

			//setTimeSelectorDropDown();
			setRangeSelectorDropDown();
			if($("#searchStr").val() == 'null')
				$("#searchStr").val("");
		});

		function getHotTags(curPos,dateFrom){
			
			var	print = 0
			if('#{page}' == 'map')
				print = 1;

			// this is a test :
			var rangeHT = ((-1)*0.0083/1*(curPos.z)+1);
			if(curPos.z==60)
				rangeHT = 0.28;
			if(curPos.z==80)
				rangeHT = 0.12;
			if(curPos.z==100)
				rangeHT = 0.04;
			if(curPos.z==120)
				rangeHT = 0.004;

			$.getJSON('/api/getHotTags/'+(curPos.x)+'/'+(curPos.y)+'/'+rangeHT+'/'+dateFrom+'/'+print+'/10',function(ajax) {
				$('#dropdownTagSelector').html('');
				if(ajax.data.tag.length > 0){
					$.each(ajax.data.tag,function(key,val){
						$('#dropdownTagSelector').append('<li>'+val.title+'</li>');
					});
				}else{
					$('#dropdownTagSelector').html("<span style='cursor:default;'>No tag here</span>");
				}
				
			});
		}

		/*
		function setTimeSelectorDropDown()
		{
			var lasttext = '';
			var currtext = '';
			for(i=-15; i<=100; i++)
			{
				lasttext = setTimeSliderText(i, 1);
				if(currtext != lasttext)
				{
					$("#dropdownTimeSelector").append("<li value='" + i + "' df='" + dateFrom + "'><a>" + lasttext + "</a></li>");
					currtext = lasttext;
				}
			}
			$("#dayPrinter span").html(setTimeSliderText($.cookie("dateFrom"), 1));
			
			/*$("#dropdownTimeSelector li").click(function(){
				$("#dayPrinter span").html($(this).find("a").html());
				dateFrom = setTimeSliderText($(this).attr("value"));
				getAndPrintInfo();
				$.cookie("dateFrom", $(this).attr("value"),{ expires: 10000, path : '/' });
			});
		}
		*/

		function setDiscussion(el){

			if($(el).hasClass('active')){
				$(el).removeClass('active').attr('title','Voir les Yassalas');
				yakType.cleanArrayByName("4");
				$.cookie("yaktype", yakType.join(','),{ expires: 10000, path : '/' });
			}
			else
			{
				$(el).addClass('active').attr('title','Cacher les Yassalas');
				yakType.push("4");
				yakType = yakType.filter(function (e, i, arr) {
					return arr.lastIndexOf(e) === i;
				});
				$.cookie("yaktype", yakType.join(','),{ expires: 10000, path : '/' });	
			}
			console.log('PRINT');
			getAndPrintInfo();
		}

		function setAlert(el){
			if($(el).hasClass('active')){
				$(el).removeClass('active').attr('title','Passer en mode Alertes');
				yakType.cleanArrayByName("5");
				$.cookie("yaktype", yakType.join(','),{ expires: 10000, path : '/' });
			}else{
				$(el).addClass('active').attr('title','Passer en mode normal');
				
				yakType.push("5");
				yakType = yakType.filter(function (e, i, arr) {
					return arr.lastIndexOf(e) === i;
				});
				$.cookie("yaktype",  yakType.join(','),{ expires: 10000, path : '/' });
				
			}
			
			getAndPrintInfo();
		}
		
		function setRangeSelectorDropDown()
		{
			var lasttext = '';
			var currtext = '';
			
			$("#localnessPrinter").html(setLocalnessSliderText(curPos.z));
			$("#dropdownRangeSelector li").unbind("click").on('click',function(){

				$("#localnessPrinter").html($(this).html());
				curPos.z = $(this).attr("value");
				changeRange();
				$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });

				$("#dropdownRangeSelector li").css("color", "#333333");
				$(this).css("color", "#d3171f");
			});
		}
