!!!
html
	head
		meta(charset='utf8')
		base(href='/')
		link(rel="shortcut icon",href="/images/yakfav.png", type="image/x-icon")
		title Yakwala API - #{JSON.parse(conf).env}
		link(rel='stylesheet', href='/javascripts/lib/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/javascripts/lib/bootstrap/css/bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheets/apistyle.css')
		
		block head
	body
		div.navbar.navbar-fixed-top
			div.navbar-inner
				.container-fluid
					a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse") 
						span.icon-bar
						span.icon-bar
						span.icon-bar
						a.brand(href="/news/map") YAKWALA
		div.container-fluid
			div.row-fluid.well
				div.span12
					form(action='/api/oauth/session', method='POST')
						input#redirect_uri(type='hidden', name='redirect_uri', value=redirect_uri)
						input#response_type(type='hidden', name='response_type', value=response_type)
						input#client_id(type='hidden', name='client_id', value=client_id)
						div.control-group
							div.controls
								input.span12#login(type="text",name="login", autocomplete="on", placeholder='Login')
						div.control-group
							div.controls
								input.span12#password(type="text",name="password", autocomplete="on", placeholder='Password')
						div.control-group
							div.controls
								label.checkbox
									<input id="appauth" type="checkbox" name="appauth" value="1"> J'autorise l'application <b>!{client_name}</b> à accéder à mes données publiques et privées.
						div.control-group
							div.controls
								button.btn.btn-large.btn-block.btn-inverse(,type='submit', name='submit', id='submit', value='login',style="float:right;") Accepter
								
					
		script
			

